@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Tag List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="fluid mt20">
        <div class="row" style="padding-top:5px;padding-bottom:5px;">
            <div class="alert alert-success" id="messageDiv">
                <strong>Success!</strong> <span id="messageContent">This alert box could indicate successful action.</span>
            </div>
        </div>
        <div class="kendogrid">
            <h2>Tags</h2>
            <div>
                @if (Request.IsAuthenticated)
                {
                    @(Html.Kendo().Grid<Silicus.Ensure.Models.DataObjects.Tags>().Name("tagsGrids")
                    .Events(e => e.Edit("gvTag_onRowEdit"))
         .Columns(columns =>
              {
                  columns.Bound(p => p.TagName).Width(50);
                  columns.Bound(p => p.Description);
                  columns.Command(cmd =>
                  {
                          cmd.Edit().Text("Edit");
                  }).Title("Actions");
              })
            .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(p => p.TagId);
                          model.Field(p => p.TagId).Editable(false);
                      })
                      .Read(read => read.Action("GetTagsDetails", "Tag"))
                              .Create(update => update.Action("Save", "Tag"))
                      .Events(events => events.Error("error_handler").RequestEnd("requestend_handler"))
                              .Update(up => up.Action("Update", "Tag"))
                      .PageSize(10)
                  )
                  .Pageable()
                  .Sortable()
                  //.HtmlAttributes(new { style = "height:400px;" })
                  .Editable(ed => ed.Mode(GridEditMode.PopUp).TemplateName("TagEditorTemplate"))
                  .ToolBar(toolbar =>
                {
                    toolbar.Template(@<text>

                        <div class="toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                        <input type="text" class="form-control" id='FieldFilter' placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button id="tagSearch" class="btn btn-default" type="button" style="height:16px;"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-3 col-md-push-1" style="float: right; padding-right: 0px; margin-right: -22px;">
                                    <a href='/#' class='k-button k-button-icontext k-grid-add'><span class='k-icon k-add'></span>Add Tag</a>
                                </div>
                            </div>
                        </div>
                    </text>);
                })
                    )
                }
            </div>
        </div>
    </div>
</div>
        <script>
            $(document).ready(function () {
                $("#messageDiv").hide();

                $("#FieldFilter").keyup(function () {

                    var value = $("#FieldFilter").val();
                    grid = $("#tagsGrids").data("kendoGrid");

                    if (value.length > 0) {
                        if (value) {
                            var filter = { logic: "or", filters: [] };
                            filter.filters.push({ field: "TagName", operator: "contains", value: value });
                            filter.filters.push({ field: "Description", operator: "contains", value: value });
                            grid.dataSource.query({ filter: filter });
                        } else {
                            grid.dataSource.filter({});
                        }
                    }
                    else if (value == "")
                        grid.dataSource.filter({});
                });
                //Show successful message
                if ('@TempData["IsNewTag"]' == "1") {
                    ShowMessage("Tag saved successfully.", 1);
                }
            });

            $("#tagSearch").click(function (e) {
                e.preventDefault();
                var datasource = $("#tagsGrids").data("kendoGrid").dataSource;
                //Clear filters:
                datasource.filter([]);
                $("#FieldFilter").val('');
            });


            function gvTag_onRowEdit(e)
            {
                if (e.model.isNew()) {
                    $(".k-window-title").html("Add New Tag");
                }
                else {
                    $(".k-window-title").html("Edit Tag");
                    $("#TagName").attr('disabled', true);
                }

            }

            function requestend_handler(e) {
                if (e.type == "destroy" && !e.response.Errors) {
                    //toastr.success("Auto Pays details has been deleted successfully!");
                    ShowMessage("Tag saved successfully.", 1);
                }

                if (e.type == "update" && !e.response.Errors) {
                    //toastr.success("Auto Pays details has been saved successfully!");
                    ShowMessage("Tag Updated successfully.", 1);
                }

                if (e.type == "create" && !e.response.Errors) {
                    ShowMessage("Tag Created successfully.", 1);
                }

            }

            function error_handler(e) {
                ShowMessage(getErrorMessage(e, 0));
            }

        </script>
