@model Silicus.Reusable.Web.Models.ViewModel.FrameworxOwnerViewModel

<div class="box  backgroundLight no-border marginTop10 noShadow">
    <h4>Owner Information </h4>
    <p class="mr-bt-5">
        Owner Name : @Html.DisplayFor(m => m.Name)
    </p>

    <p class="mr-bt-5">
        Email Id : @Html.DisplayFor(m => m.Email)
    </p>
    <p class="mr-bt-5">
        Office Phone : @Html.DisplayFor(m => m.OfficePhone)
    </p>
</div>
