@using Kendo.Mvc.UI;


<div id="myModal" class="modal fade" data-backdrop="static" role="dialog" tabindex="-1" data-width="760" aria-hidden="false" style="display: block; width: 760px; margin-left: -380px; margin-top: -288.5px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Assign test suite</h4>
    </div>
    <input type="hidden" id="testSuiteId" name="testSuiteId" value="" />
    <div class="modal-body">
        @(Html.Kendo().Grid<Silicus.Ensure.Web.Models.UserViewModel>().Name("userGrids")
                        .Events(events => events.DataBound("onUserGridsDataBound"))
                .Columns(columns =>
              {
                  columns.Bound("").ClientTemplate("<input type='checkbox' name='selectUser' value='#=UserApplicationId#' />").Width(20);
                  columns.Bound(p => p.FirstName).Width(150);
                  columns.Bound(p => p.LastName).Width(150);
                  columns.Bound(p => p.CurrentLocation).Width(100);
                  columns.Bound(p => p.Email).Width(150);
              })
            .DataSource(dataSource => dataSource
                  .Ajax()
                  .Model(model =>
                  {
                      model.Id(p => p.UserId);
                      model.Field(p => p.UserId).Editable(false);
                  })
                  .Read(read => read.Action("TestSuitUsers", "TestSuite"))
                  .PageSize(10)
                  .ServerOperation(false)
              )
              .Pageable()
              .Sortable()
              .ToolBar(toolbar =>
               {
                   toolbar.Template(@<text>
            <div class="toolbar">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 addclearFloat">
                    <div class="form-group clearFloat1 addclearFloat1">
                        <div class="input-group searchInputGroup">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                            <input type="text" class="form-control" id='FieldFilterCandidate' placeholder="Search" style="height: 33px;">
                            <span class="input-group-btn">
                                <button id="candidateSearch" class="btn btn-default btn-search" type="button" style="padding:0px 12px 0px !important;"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
                </text>);
               })
        )
    </div>
    <div class="modal-footer">
        <button id="btnAssign" type="button" style="width:70px;"  data-dismiss="modal" class="btn green">Assign</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</div>

    @*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Assign test suite</h4>
                </div>
                <input type="hidden" id="testSuiteId" name="testSuiteId" value="" />
               
            </div>
        </div>
    </div>*@

    <script>
        $(document).ready(function () {
            $('#testSuiteId').val('@TempData["TesSuiteId"]');
            $('#btnAssign').click(function () {
                swal({
                    title: "Are you sure,",
                    text: "Are you sure, you want to assign this test suite?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
       function (isConfirm) {
           if (isConfirm) {
               var users = $("#userGrids").find("[name='selectUser']:checked").map(function () {
                   return this.value;
               }).get().join(",");
               var testSuiteId = $('#testSuiteId').val();
               $.ajax({
                   type: "POST",
                   url: '@Url.Action("AssignTest", "TestSuite")',
                   data: { users: users, testSuiteId: testSuiteId },
                   success: function (returndata) {
                       if (returndata == 1) {
                           $('#myModal').modal().hide();
                           $("#testSuiteGrids").data("kendoGrid").dataSource.read();
                           ShowMessage("Test suite assigned successfully.", 1);
                       }
                       else {
                           ShowMessage("Error occured while activating test suite.", 1);

                       }
                   }
               });
           } else {
               swal("Cancelled", "Record deletion cancelled.", "error");
           }
       });


            });

            $("#FieldFilterCandidate").keyup(function () {
                var value = $("#FieldFilterCandidate").val();
                grid = $("#userGrids").data("kendoGrid");

                if (value.length > 0) {
                    if (value) {
                        grid.dataSource.filter({ field: "FirstName", operator: "contains", value: value });
                        grid.dataSource.filter({ field: "LastName", operator: "contains", value: value });
                        grid.dataSource.filter({ field: "Email", operator: "contains", value: value });
                    } else {
                        grid.dataSource.filter({});
                    }
                }
                else if (value == "")
                    grid.dataSource.filter({});
            });
        });

        $("#candidateSearch").click(function (e) {
            e.preventDefault();
            var datasource = $("#userGrids").data("kendoGrid").dataSource;
            //Clear filters:
            datasource.filter([]);
            $("#FieldFilterCandidate").val('');
        });

    </script>
