@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div style="width:80%;padding-top:10%" class="text-center">
    <span class="text-danger" style="font-weight:bolder;">Something went terribly wrong. We apologize for the inconvenience.
    Refresh the page and try again. If you continue to have difficulties please contact Application Administrators.
    </span>
</div>

