@model Silicus.Ensure.Web.Models.EmailModel


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Welcome</title>
</head>
<body>
    <p>
        Hi @Model.Name,
    </p>
    <p>
   You are assigned for Interview Panel for @Model.CandidateName  Successfully
    </p>


    <p>Silicus Technology</p>

</body>
</html> 