@model Silicus.Ensure.Web.Models.EmployeeTestSuitAssignementViewmodel
@using Silicus.Ensure.Models.Constants;
@using Kendo.Mvc.UI;
@using System.Linq
@{
    ViewBag.Title = "_employeeGrid";
}
<style>
    #ddl-employee-list, #ddl-selectedEmployee-List{height:500px;}
    .btn-grp-arrowWrapper{margin-top: 250px;margin-left:35%;}
</style>
<div class="toolbar">
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-1">
            Test Suit
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="form-group">
                @(Html.Kendo().DropDownListFor(c => c.SelectedEmployeeId)
                       .BindTo(Model.TestSuitList)
                        .Name("DDTestSuit")
                        .DataTextField("TestSuiteName")
                        .DataValueField("TestSuiteId")
                        .Events(e =>
                        {
                            e.DataBound("getAssignedEmpID")
                            .Change("getAssignedEmpID");
                        })
                )
            </div>
        </div>
    </div>
    

</div>

<div class="row">
    @if (Request.IsAuthenticated)
    {
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <p class="font18">Employee List</p>
            @Html.ListBox("ddl-employee-list", Model.EmployeeList, new { @class = "form-control" })
        </div>


        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 arrow-wrapper">
            <div class="btn-grp-arrowWrapper">
                <button style="padding:10px!important;" class="btn btn-xs btn-primary green" id="btnMovetoSelected"><span class="" type=""><span class="fa fa-angle-double-right fa-2x"></span></span></button><br /><br />
                <button style="padding:10px!important;" class="btn btn-xs btn-primary green" id="btnMovetoNotSelected"><span class="" type=""><span class="fa fa-angle-double-left fa-2x"></span></span></button>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <p class="font18">Selected Employee</p>
            <select multiple class="form-control" id="ddl-selectedEmployee-List"></select>
        </div>


        @*@(Html.Kendo().Grid<Silicus.Ensure.Web.Models.UserDetailViewModel>().Name("EmployeeGrids")
            .Columns(columns =>
            {
                columns.Bound(o => o).ClientTemplate("<input type='checkbox' class='EmployeeSelection' Id='#=UserId#' / />").Filterable(false).Sortable(false).Title("<input type='checkbox' id='chkselectallEmployeeRecord'  / />").Groupable(false).IncludeInMenu(false).Width(50);
                columns.Bound(c => c.FullName).Title("Name");
                columns.Bound(p => p.RoleName).Title("Role name");
                columns.Bound(p => p.EmployeeId).Title("EmployeeId");
                columns.Bound(p => p.Email);
                //columns.Bound("").ClientTemplate(@"<a onclick=AssignEmployeeTest('#=UserId#','New') style='cursor:pointer'>Assign test</a>").Title("Assign Test").Width(500).Sortable(false);
                //columns.Bound("").ClientTemplate(@"<a onclick=AssignEmployeeTest('#=UserId#','#=TestStatus#') style='cursor:pointer'>Assign test</a>").Title("Assign Test").Width(500).Sortable(false);
                //columns.Bound(c => c.RoleId).Title("Action").Sortable(false).Width(650).ClientTemplate(" <div> #if(RoleName == 'Recruiter'){#<input type='button' style='width:92px;font-size:14px;text-transform:initial;' class='btn green' onclick='assignType(event)' value='Manage type'>#}else if(RoleName == 'Panel') { #<input type='button' style='font-size:14px;text-transform:initial;' class='btn green' onclick='assignPanel(event)' value='Manage panel'># }else if(RoleName == 'Candidate') { #<input type='button' value='z'># } #");

            })
               .DataSource(dataSource => dataSource.Ajax().Model(model =>
               {
                   model.Id(p => p.Email);
                   model.Field(p => p.Email).Editable(false);
               })

               .Read(read => read.Action("GetUserDetails", "Employee")).ServerOperation(false)
               //.Create(update => update.Action("CreateUser", "User"))
               //.Update(update => update.Action("UpdateUser", "User"))
               //.Destroy(update => update.Action("DeleteUser", "User"))
               .PageSize(100))
               .Pageable(pager => { pager.PageSizes(false); })
               .Sortable()
               .HtmlAttributes(new { style = "height: 70vh;" })
                .Scrollable(scrollable => scrollable.Virtual(true))
                 .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
               //.Resizable(resizing => resizing.Columns(true))*@
        //)
    }
</div>
<div class="row M-T20 M-B60">
    <div class="col-sm-12">
        <button type="button" id="Savebtn" style="width:70px;float:right;margin-right:10px;" class="btn green">Save</button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnMovetoSelected').click(function (e) {
            var selectedOpts = $('#ddl-employee-list option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $('#ddl-selectedEmployee-List').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });

        $('#btnMovetoNotSelected').click(function (e) {
            var selectedOpts = $('#ddl-selectedEmployee-List option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $('#ddl-employee-list').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });

        $("#Savebtn").bind("click", function () {
            showCustomLoader();
            var empArray = new Array();

            $('#ddl-selectedEmployee-List').find('option').each(function () {
                empArray.push($(this).val());
            });
            
            var testSuitData = $("#DDTestSuit").data("kendoDropDownList");

            if (empArray.length > 0 && testSuitData.value() > 0) {

                $('#myEmpModal').find('input[type=checkbox]:checked').removeAttr('checked');
                $.ajax({
                    type: 'post',
                    async: false,
                    url: "/Employee/AssignEmployeeSuite",
                    cache: false,
                    data: { SuiteId: testSuitData.value(), UserList: empArray },
                    contenttype: "application/json; charset=utf-8",
                    success: function (returndata) {
                        if (returndata == 1) { 
                            ShowMessage("Test suite assigned successfully.", 1);                          
                            $(".loader-overlay").hide();
                        }
                    },
                    error: function (er) {
                        $(".loader-overlay").hide();
                    }
                });
            }
            else {
                toastr.error('Please select at least one test suite or Employee.')
                $(".loader-overlay").hide();
            }
        });

    });

    function appendAndRemove(lstBoxId, selectedOpts, permission) {
        $.each(selectedOpts, function (index, value) {
            var fieldId = selectedOpts[index].value;
            if ($(selectedOpts[index]).attr(permission) === 'true') {
                $('#' + lstBoxId).append($(selectedOpts[index]).clone());
                $(selectedOpts[index]).remove();
            }
        });
    }

    function getAssignedEmpID() {
        $("#ddl-employee-list").append($('#ddl-selectedEmployee-List').find('option'));
        $('#ddl-selectedEmployee-List').find('option').remove();
       
        var testSuitData = $("#DDTestSuit").data("kendoDropDownList");
        $.ajax({
            type: 'get',
            url: "/Employee/GetEmployeeassigedforTestSuits",
            data: { suitId: testSuitData.value() },
            success: function (empList) {
              
                var obj = $("#ddl-employee-list option");
                var selectedEmp = new Array();
                for (i = 0; i < obj.length; i++) {
                    $.each(empList, function (index, data) {
                        if (obj[i].value == data) {
                            selectedEmp.push(obj[i]);
                            //$("#ddl-employee-list option[value='" + obj[i].value + "']").remove();
                            
                        }
                    });

                }
                $('#ddl-selectedEmployee-List').append(selectedEmp);

            },
            error: function (er) {
                $(".loader-overlay").hide();
            }
        });
    }
    
</script>