@model Silicus.Ensure.Web.Models.Employee.EmployeeTestSuitViewModel
@using Silicus.Ensure.Models.Constants;
@using Kendo.Mvc.UI;
@using System.Linq
@{
    ViewBag.Title = "AssigedTest";
}

<h2>AssigedTest</h2>
<div class="table-responsive M-B15">

   
        @(Html.Kendo().Grid<Silicus.Ensure.Web.Models.Employee.EmployeeTestSuitViewModel>().Name("EmployeeTestSuitGrid")

         .Columns(columns =>
         {
             columns.Bound(p => p.TestSuitName).Title("Test Suit Name").Width(200);
             columns.Bound(p => p.Duration).Title("Requisition id").Width(100);
             columns.Bound(p => p.EmployeeId).Width(200);
             columns.Bound(p => p.TotalQuestionCount).Title("Contact number").Width(100);

             columns.Bound(p => p.StatusId).ClientTemplate(@"
                                                                        #if(StatusId==2){#
                                                                            Test assigned
                                                                        #}
                                                                        else if(StatusId==3) {#
                                                                            Test submitted
                                                                        #}
                                                                        else if(StatusId==4) {#
                                                                            Under evaluation
                                                                        #}
                                                                        else if(StatusId==7) {#
                                                                           On hold
                                                                        #}
                                                                        else{#
                                                                            #=StatusId#
                                                                        #}
                                                                        #").Title("Status").Width(250);
             
             columns.Bound(p => p.StatusId).ClientTemplate("<a href='/Employee/OnlineTest?EmployeeTestSuitId=#=EmployeeTestSuiteId#'>Start Test</a>").Title("Test Action");

         })
                                       .DataSource(dataSource => dataSource
                                       .Ajax()
                                       .Model(model =>
                                       {
                                           model.Id(p => p.EmployeeTestSuiteId);
                                           model.Field(p => p.EmployeeId).Editable(false);
                                       })

                                       .Read(read => read.Action("GetEmployeeTestSuits", "Employee"))

                                       .PageSize(10)
                                       .ServerOperation(true)
                                       )
                                       .Pageable(p => p.PageSizes(true))
                                       .Sortable()
                                       .Resizable(resizing => resizing.Columns(true))
        )


   

</div>



