@model IEnumerable<Silicus.EncourageWithAzureAd.Web.Models.NominationListViewModel>
@using System.Drawing;
@{
    ViewBag.Title = "ReviewNominations";
}

<style>
    hr {
        background-color: black;
        height: 1px;
        border: 0;
        padding-left: 0px;
    }

    .page-heading {
        margin-left: 0%;
    }

    .navbar-minimalize {
        margin-left: 35%;
    }
</style>
<div class="row border-bottom">
    <nav class="navbar  " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>
</div>
<div class="row wrapper border-bottom white-bg page-heading border-bottom" style="width:90%;">
    <div class="col-sm-12">
        <h1>Nominated Employees</h1>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="margin-left:7%;">
    <div class="row">

        @if (Model.Count() == 0)
        {
            <span class="text-danger" style="font-size:20px">No employees are nominated..</span>
        }
        else
        {
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a id="current-tab" data-toggle="tab" href="#currentMonth">Current</a></li>
                    <li><a id="historical-tab" data-toggle="tab" href="#historical">Historical</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <hr style="margin-top:0px;height:2px;margin-left:0px; width:85%;" />

                <div id="currentMonth" class="tab-pane fade in active">
                    @Html.Partial("~/Views/Nomination/Shared/_savedNominationList.cshtml", Model)
                </div>

                <div id="historical" class="tab-pane fade">
                    Content yet to come..
                </div>
            </div>
        }
    </div>
</div>

<script src="~/js/jquery-2.1.1.js"></script>
<script>
    //$(function () {
    //    $("fa-pencil").tooltip();
    //    $("fa-info-circle").tooltip();
    //})

    var _urlGetNominationListForActiveMonth = '@Url.Action("GetNominationListPartialView", "Nomination", new { forCurrentMonth = true })';
    var _urlGetNominationListForHistoricalMonths = '@Url.Action("GetNominationListPartialView", "Nomination", new { forCurrentMonth = false })';

    $("#historical-tab").on("click", function () {
        $.ajax({
            type: "GET",
            url: _urlGetNominationListForHistoricalMonths,
            success: function (response) {
                $("#historical").html(response);
            },
            error: function (error) {
                console.log(error);
            }
        });
    })

    $("#current-tab").on("click", function () {
        $.ajax({
            type: "GET",
            url: _urlGetNominationListForActiveMonth,
            success: function (response) {
                $("#currentMonth").html(response);
            },
            error: function (error) {
                console.log(error);
            }
        });
    })
</script>
