@model IEnumerable<Silicus.EncourageWithAzureAd.Web.Models.NominationListViewModel>
@using System.Drawing;
@{
    ViewBag.Title = "ReviewNominations";
}


<div class="row white-bg header-row">
    <nav class="" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>
    <div class="col-lg-11 col-md-11 col-sm-11">
        <h1 class="header-name">Edit Nomination</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box M-T15 M-B60">
            @if (Model.Count() == 0)
            {
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-danger">
                            <span class="text-danger" style="font-size:20px">No employees are nominated..</span>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="sttabs tabs-style-linebox">
                    <nav>
                        <ul>
                            <li class="active"><a id="current-tab" data-toggle="tab" href="#currentMonth"><span>Current</span></a></li>
                            <li><a id="historical-tab" data-toggle="tab" href="#historical"><span>Historical</span></a></li>

                        </ul>
                    </nav>
                    <div class="tab-content content-wrap text-center">
                        <section id="currentMonth" class="tab-pane fade in active">
                            @Html.Partial("~/Views/Nomination/Shared/_savedNominationList.cshtml", Model)
                        </section>
                        <section id="historical" class="tab-pane fade">
                            <p>Content yet to come..</p>
                        </section>
                    </div><!-- /content -->
                </div>
            }
        </div>
    </div>
</div>

<script src="~/js/jquery-2.1.1.js"></script>
<script>
    //$(function () {
    //    $("fa-pencil").tooltip();
    //    $("fa-info-circle").tooltip();
    //})

    var _urlGetNominationListForActiveMonth = '@Url.Action("GetNominationListPartialView", "Nomination", new { forCurrentMonth = true })';
    var _urlGetNominationListForHistoricalMonths = '@Url.Action("GetNominationListPartialView", "Nomination", new { forCurrentMonth = false })';

    $("#historical-tab").on("click", function () {
        $(".loader-overlay").show();
        $.ajax({
            type: "GET",
            url: _urlGetNominationListForHistoricalMonths,
            success: function (response) {
                $(".loader-overlay").hide();
                $("#historical").html(response);
            },
            error: function (error) {
                $(".loader-overlay").hide();
                console.log(error);
            }
        });
    })

    $("#current-tab").on("click", function () {
        $(".loader-overlay").show();
        $.ajax({
            type: "GET",
            url: _urlGetNominationListForActiveMonth,
            success: function (response) {
                $(".loader-overlay").hide();
                $("#currentMonth").html(response);
            },
            error: function (error) {
                $(".loader-overlay").hide();
                console.log(error);
            }
        });
    });
</script>
