@model IEnumerable<Silicus.EncourageWithAzureAd.Web.Models.NominationListViewModel>
@{
    ViewBag.Title = "ReviewNominations";
}

<div class="row white-bg header-row">
    <nav class="" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>
    <div class="col-lg-11 col-md-11 col-sm-11">
        <h1 class="header-name">Submitted Reviews</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box M-T15">
            <div class="sttabs tabs-style-linebox">
                <nav id="awards-list">
                    <ul>
                        <li class="active"><a id="som-tab" data-toggle="tab" href="#som" data-awardId="1"><span>SOM</span></a></li>
                        <li><a id="pinnacle-tab" data-toggle="tab" href="#pinnacle" data-awardId="2"><span>Pinnacle</span></a></li>
                    </ul>
                </nav>
                <div class="tab-content content-wrap text-center">
                    <section id="som" class="tab-pane fade in active">
                        <div class="sttabs tabs-style-linebox">
                            <nav>
                                <ul>
                                    <li class="active"><a id="current-tab" data-toggle="tab" href="#som-currentMonth" data-awardType="som" onclick="getCurrentMonthData(this);"><span>Current</span></a></li>
                                    <li><a id="historical-tab" data-toggle="tab" href="#som-historical" data-awardType="som" onclick="getHistoricalData(this);"><span>Historical</span></a></li>
                                </ul>
                            </nav>
                            <div class="tab-content content-wrap text-center">
                                <section id="som-currentMonth" class="tab-pane fade in active">
                                    @Html.Partial("~/Views/Nomination/Shared/_savedReviewsList.cshtml", Model)
                                </section>
                                <section id="som-historical" class="tab-pane fade"></section>
                            </div>
                        </div>
                    </section>
                    <section id="pinnacle" class="tab-pane fade">
                        <div class="sttabs tabs-style-linebox">
                            <nav>
                                <ul>
                                    <li class="active"><a id="current-tab" data-toggle="tab" href="#pinnacle-currentMonth" data-awardType="pinnacle" onclick="getCurrentMonthData(this);"><span>Current</span></a></li>
                                    <li><a id="historical-tab" data-toggle="tab" href="#pinnacle-historical" data-awardType="pinnacle" onclick="getHistoricalData(this);"><span>Historical</span></a></li>
                                </ul>
                            </nav>
                            <div class="tab-content content-wrap text-center">
                                <section id="all-currentMonth" class="tab-pane fade in active">
                                    @Html.Partial("~/Views/Nomination/Shared/_savedReviewsList.cshtml", Model)
                                </section>
                                <section id="all-historical" class="tab-pane fade"></section>
                            </div>
                        </div>
                    </section>
                </div><!-- /content -->
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-2.1.1.js"></script>
<script>
    $(function () {
        $(".fa-pencil").tooltip();
        $(".fa-info-circle").tooltip();
    });

    var _urlGetSavedReviewsForActiveMonth = '@Url.Action("GetSavedReviewsPartialView", "Nomination", new { forCurrentMonth = true })';
    var _urlGetSavedReviewsForHistoricalMonths = '@Url.Action("GetSavedReviewsPartialView", "Nomination", new { forCurrentMonth = false })';

    $("#pinnacle-tab").on("click", function () {
        var awardId = +$(this).attr("data-awardId");
        showCustomLoader();
        $.ajax({
            type: "GET",
            url: _urlGetSavedReviewsForActiveMonth,
            data: { awardId: awardId },
            success: function (response) {
                hideCustomLoader();
                $("#pinnacle #pinnacle-currentMonth").html(response);
            },
            error: function (error) {
                hideCustomLoader();
                console.log(error);
            }
        });
    });

    $("#som-tab").on("click", function () {
        var awardId = +$(this).attr("data-awardId");
        showCustomLoader();
        $.ajax({
            type: "GET",
            url: _urlGetSavedReviewsForActiveMonth,
            data: { awardId: awardId },
            success: function (response) {
                hideCustomLoader();
                $("#som #som-currentMonth").html(response);
            },
            error: function (error) {
                hideCustomLoader();
                console.log(error);
            }
        });
    });

    function getCurrentMonthData(element) {
        var awardId = +$("#awards-list li.active a").attr("data-awardid");
        var area = $(element).attr("data-awardtype");
        var someId = "#" + area + " #" + area + "-currentMonth";
        showCustomLoader();
        $.ajax({
            type: "GET",
            url: _urlGetSavedReviewsForActiveMonth,
            data: { awardId: awardId },
            success: function (response) {
                hideCustomLoader();
                $(someId).html(response);
            },
            error: function (error) {
                hideCustomLoader();
                console.log(error);
            }
        });
    }

    function getHistoricalData(element) {
        var awardId = +$("#awards-list li.active a").attr("data-awardid");
        var area = $(element).attr("data-awardtype");
        var someId = "#" + area + " #" + area + "-historical";
        showCustomLoader();
        $.ajax({
            type: "GET",
            url: _urlGetSavedReviewsForHistoricalMonths,
            data: { awardId: awardId },
            success: function (response) {
                hideCustomLoader();
                $(someId).html(response);
            },
            error: function (error) {
                hideCustomLoader();
                console.log(error);
            }
        });
    }

    //$("#historical-tab").on("click", function () {
    //    showCustomLoader();
    //    $.ajax({
    //        type: "GET",
    //        url: _urlGetSavedReviewsForHistoricalMonths,
    //        success: function (response) {
    //            hideCustomLoader();
    //            $("#historicalMonth").html(response);
    //        },
    //        error: function (error) {
    //            hideCustomLoader();
    //            console.log(error);
    //        }
    //    });
    //});

    //$("#current-tab").on("click", function () {
    //    showCustomLoader();
    //    $.ajax({
    //        type: "GET",
    //        url: _urlGetSavedReviewsForActiveMonth,
    //        success: function (response) {
    //            hideCustomLoader();
    //            $("#currentMonth").html(response);
    //        },
    //        error: function (error) {
    //            hideCustomLoader();
    //            console.log(error);
    //        }
    //    });
    //});
</script>
