<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--Local db-->
    <add name="IPDEntities" connectionString="metadata=res://*/HR_Model.csdl|res://*/HR_Model.ssdl|res://*/HR_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SILPUNDEVDB2;initial catalog=OnBoarding_Dev;persist security info=True;user id=IPD;password=T0p5star;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Server qa db-->
    <!--<add name="IPDEntities" connectionString="metadata=res://*/HR_Model.csdl|res://*/HR_Model.ssdl|res://*/HR_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=enboarddbserver.database.windows.net;initial catalog=Enboard_IPDB;Persist Security Info=False;User ID=enboard_admin;Password=Pa55w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EmailFrom" value="onboarding-india@Silicus.com" />
    <add key="HostName" value="mail.global.frontbridge.com" />
    <add key="PortNumber" value="25" />
    <add key="PagingSize" value="10" />
    <add key="PagingSizeEmp" value="5" />
    <add key="WebUrl" value="http://10.66.0.234:8081/" />
    <add key="WebUrlUploadedFolder" value="UploadedDocuments/" />
    <add key="DocumentPath" value="//SILICUS353/" />
    <add key="HREmailId" value="onboarding-india@silicus.com" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="adminEmail" value="onboarding-india@silicus.com" />
 
    <!--<add key="ida:ClientId" value="b3dc7697-4120-441d-a190-e3fc0c8415ac" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:ClientSecret" value="sB33HlVB2DBC6xObUkdkipWIqWTLV9JdNfwl8LmBoBU=" />
    <add key="ida:Domain" value="SILICUSTECH.onmicrosoft.com" />
    <add key="ida:TenantId" value="487753ef-8cf6-4960-ad5f-9ceb7b82fcd7" />
    <add key="ida:PostLogoutRedirectUri" value="https://localhost:44324/" />-->
    <add key="PagingSizeEmp" value="5" />
    <add key="WebUrl" value="http://10.66.0.234:8081/" />
    <add key="WebUrlUploadedFolder" value="UploadedDocuments/" />
    <add key="DocumentPath" value="//SILICUS353/" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <!--<add key="DocumentPath" value="D:/TFS/IPDDev/HR_Web/"/>-->
    <add key="SilicusLocation" value="Pune,Alpharetta,Dallas,Houston,San Jose,Westerville" />

    <!--JobVite Related Keys-->
    <add key="JobViteBaseURL" value="https://api.jobvite.com/api/v2/candidate?api" />
    <add key="JobViteUserId" value="silicustechnologies_candidate_api_key" />
    <add key="JobVitesc" value="c4b68fcb2c29aba71c6a5c418e39e912" />
    <add key="JobViteCandidateSelecttionStatus" value="Offer accepted" />
    <!--<add key="JobViteCandidateSelectStatus" value="Select" />
    <add key="JobViteCandidateRejectStatus" value="Reject" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />-->
    <!--JobVite Related Keys-->
  </appSettings>
  <system.web>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
    <globalization uiCulture="en" culture="en-GB" />
    <!--<compilation debug="true" targetFramework="4.5"/>-->
    <httpRuntime targetFramework="4.5" />
    <!--<authentication mode="Forms">
      <forms loginUrl="/User/Login" defaultUrl="~/User/PersonalDetail" timeout="30">
        
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>-->
    <authentication mode="Forms">
      <forms name="yourAuthCookie" loginUrl="~/User/Login" protection="All" path="/" />
    </authentication>

    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <!--<assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>-->
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    
    <identity impersonate="true" />
    
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions> 
  <dotless minifyCss="false" cache="true" web="false" />
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
   <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>