@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "Candidate Dashboard";
    var tagList = Html.Partial("~/Views/Tag/List.cshtml");
    var positionList = Html.Partial("~/Views/Positions/Positions.cshtml");
    var panleList = Html.Partial("~/Views/Panel/Panel.cshtml");
}

<div class="row white-bg header-row">
    <nav class="" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" id="menu-toggle" style="margin-left:15px;border-radius:0px;" href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h1 class="dashboard-name">Setup</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success" id="messageDiv" style="margin-bottom:0px;margin-top:15px;">
            <span id="messageContent"></span>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="box M-T15 M-B60">
            <div class="main-content">
                <div class="kendogrid">
                    @(Html.Kendo().TabStrip()
                .Name("Tabs")
                .Items(tabstrip =>
               {
                   tabstrip.Add().Text("Tags").Selected(true).Content(tagList.ToString());
                   tabstrip.Add().Text("Positions").Selected(false).Content(positionList.ToString());
                   tabstrip.Add().Text("Panel").Selected(false).Content(panleList.ToString());
               })
                    )

                </div>
            </div>
        </div>
    </div>
</div>

            <script>
                $(document).ready(function () {
                    $("#messageDiv").fadeOut();
                    SetNavigationMenuActive('Setup');
                });
            </script>
