    <script src="~/Scripts/JQGrid/jq.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="imagetoolbar" content="no" />
    <link rel="stylesheet" href="~/styles/layout.css" type="text/css" />
    <link href="~/styles/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/JQGrid/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/JQGrid/grid.locale-en.js"></script>
    <link href="~/styles/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
   
@*<script src="~/Scripts/jqGrid/jquery.jqGrid-4.1.2.min.js"></script>*@
<script src="~/Scripts/jqGrid/jquery.jqGrid.addons-4.1.2.js"></script>
@*<script src="~/Scripts/jqGrid/jquery.jqGrid.locale-en-4.1.2.js"></script>*@
<h2>Admin Dashboard</h2>

<div> 
 
    
         <div >
        <div>
            <div >
                <table id="tblJQGrid">
                </table>

                <br />
                <table id="list">
                </table>
            </div>
            <br/>
        </div>
 </div>
      
</div>
