body {
    background-color:#ECECEC;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse {
    background:#fff;
    color:#ccc;
    border:none;
    box-shadow:1px 1px 2px lightgrey;
}
.navbar-header img {
    padding:7%;
}
.carousel-control.left, .carousel-control.right {
    background:none !important;
}
.glyphicon-chevron-right, .glyphicon-chevron-left {
    color:#000;
}
