@model Silicus.Reusable.Web.Models.FrameworxViewModel

@{
    Layout = null;
}
<style>
    .arrow
{

}
</style>
<div class="modal-header">

    <h4 class="modal-title">@Html.DisplayFor(m => m.Name)</h4>
</div>
<div class="modal-body">
    @Html.Raw(Server.HtmlDecode(Model.HtmlDescription))
    <a href="@Model.DemoLink" class="btn btn-info" role="button" target="_blank">How to Use this?</a>
    <a href="@Model.SourceCodeLink" class="btn btn-info" role="button" target="_blank">Source Code</a>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" id="closebtn" data-dismiss="modal">Close</button>
</div>
