@model IEnumerable<Silicus.FrameworxProject.Models.FrameworxCategory>

@{
    ViewBag.Title = "Index";
}
<script>
    function getdetail(id, categoryId) {
        $("#currentTile").val(id);
        var url = "/FrameworxProject/Details";
        $.get(url, { id: id }, function (data) {
            $(".carousel-inner").html(data);
           // $("#devendra").html(categoryname);
        });
    }

    function nextSlide() {
        var selects = $(".TitleDivTemplate");
        selects.each(function myfunction(index) {
            var id = $(this).attr("my-data");
            var currentId = $("#currentTile").val();
            if (id == currentId) {
                if (index !== selects.length - 1) {
                    // select the next span
                    getdetail(selects.eq(index + 1).attr('my-data'), selects.eq(index + 1).attr('my-title'));
                    return false;
                } else {
                    getdetail(selects.eq(0).attr('my-data'), selects.eq(index + 1).attr('my-title'));
                }
            }
        });
    }

    function prevSlide() {
        var selects = $(".TitleDivTemplate");
        selects.each(function myfunction(index) {

            var id = $(this).attr("my-data");
            var currentId = $("#currentTile").val();
            if (id == currentId) {
                if (index !== selects.length - 1) {
                    // select the next span
                    getdetail(selects.eq(index - 1).attr('my-data'), selects.eq(index - 1).attr('my-title'));
                    return false;
                } else {
                    getdetail(selects.eq(index - 1).attr('my-data'), selects.eq(index - 1).attr('my-title'));
                }
            }
        });
    }
</script>

<div class="container" id="ComponentContainer">
    <div class="row">
        <div class="col-sm-8 col-lg-8 col-md-8 col-xs-8">
            <h2 class="componentHeading">Component Category</h2>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
            <div class="navbar-form">
                <div class="input-group add-on searchpadding  input-group">
                    <div class="form-group has-feedback has-clear">
                        <input type="text" class="form-control" id="searchString" placeholder="Search">
                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="containerDiv">
        @foreach (var item in Model)
        {
            <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                <div>
                    <h3 class="componentHeading">@Html.DisplayFor(modelItem => item.Name)</h3>
                    @{Html.RenderAction("GetAllList", "FrameworxProject", new { id = item.Id });}
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Custom/getAllCategories.js"></script>
}