@model IEnumerable<Silicus.FrameworxProject.Models.FrameworxCategory>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
        <div>
            <h3 class="componentHeading">@Html.DisplayFor(modelItem => item.Name)</h3>
            @Html.Partial("GetAllList",item.Frameworxs)
        </div>
    </div>
                }