@model Silicus.EncourageWithAzureAd.Web.Models.CriteriaCommentViewModel
<script src="~/js/jquery.barrating.min.js"></script>

<tr>
    <td>
        @Html.HiddenFor(modelItem => modelItem.Id)
    </td>
    <td class="col-md-4">
        @Html.DisplayFor(modelItem => modelItem.title)
    </td>
    <td class="col-md-4">
        @Html.DropDownListFor(modelItem => modelItem.Rating,
       Enumerable.Range(1, 5).
       Select(j => new SelectListItem
       {
           Value = j.ToString(),
           Text = j.ToString()
       }), "", new { @class = "example-square", @autocomplete = "off" })
    </td>
    <td class="col-md-4">
        @Html.TextAreaFor(modelItem => modelItem.Comment, htmlAttributes: new { @class = "col-md-12" ,@readonly="readonly" })
    </td>
</tr>
<script>
    $(".example-square").barrating('show', {
        theme: 'bars-square',
        showValues: true,
        showSelectedRating: false,
        readonly: true
    });
</script>

