@model Silicus.Encourage.Web.Models.CriteriaCommentViewModel

<tr>
    <td class="col-md-6">
        @Html.DisplayFor(modelItem => modelItem.title)
    </td>
    <td class="col-md-6">
        @Html.EditorFor(modelItem => modelItem.Comment)
    </td>
</tr>


