@*@model Silicus.ProjectTracker.Models.DataObjects.Project*@
@model Silicus.ProjectTracker.Web.ViewModel.ProjectViewModel
@using Kendo.Mvc.UI;
@using Silicus.ProjectTracker.Web.ViewModel


<div class="fluid mt20">
    <div class="kendotable">

        @(Html.Kendo().Grid<ProjectViewModel>().Name("projectGrid")
        .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model =>
                {
                    model.Id(p => p.ProjectId);
                    model.Field(p => p.ProjectId).Editable(false);

                })
                        .Read(read => read.Action("GetProjects", "Admin"))
                )

            .Columns(columns =>
            {
                columns.Bound(p => p.ProjectName).Filterable(true).Title("Project Name").Groupable(false).Width(100)
                    .ClientTemplate("<a  href='javascript:void(0)' onclick='EditProject(#=ProjectId#)' title='Edit'> #=ProjectName# </a>");
                columns.Bound(p => p.ProjectDescription).Width(200);
                columns.Bound(p => p.StartDate).Width(100).Title("Project Start Date");
                columns.Bound(p => p.IsActive).Width(50)
                    .ClientTemplate(
                    "# if (IsActive == true) { #" +
                    "Active" +
                    "# } else { #" +
                    "InActive" +
                    "# } #"
                    );
                //columns.ForeignKey(p => p.StatusId, (System.Collections.IEnumerable)ViewData["Status"], "StatusId", "StatusName").Title("Status").Width(50);
            })

            .Pageable()
            .Sortable()
            .Editable(ed => ed.Mode(GridEditMode.PopUp))
            //.Selectable()
            .Navigatable()
            .Filterable()
            .ColumnMenu()
        )
    </div>
</div>
