@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Panel Dashboard";
    var user = Html.Partial("/Views/Panel/_GetPanelPartialView.cshtml");
}
<div class="main-content">
    <div class="fluid mt20">
        <div class="alert alert-success" id="messageDiv">
            <strong>Success!</strong> <span id="messageContent">@Html.ValidationSummary(true)</span>
        </div>
        <div class="kendogrid">
            @(user)
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        if ('@Convert.ToString(TempData["ErrorMsg"])' != '') {
            ShowMessage("@Convert.ToString(TempData["ErrorMsg"])", 0);
        }
        else {
            $("#messageDiv").hide();
        }
    });
</script>
