<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:utilitycontainerdbserver.database.windows.net,1433;Data Source=utilitycontainerdbserver.database.windows.net;Initial Catalog=UtilityContainer;Persist Security Info=False;User ID=SilUtilSqlUser;Password=Pa55w0rd;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <!--<add name="EncourageDataBaseConnection" connectionString="Server=tcp:utilitycontainerdbserver.database.windows.net,1433;Data Source=utilitycontainerdbserver.database.windows.net;Initial Catalog=EnCourage;User ID=SilUtilSqlUser;Password=Pa55w0rd;" providerName="System.Data.SqlClient" />-->
    <add name="EncourageDataBaseConnection" connectionString="Server=tcp:utilitycontainerdbserver.database.windows.net,1433;Data Source=utilitycontainerdbserver.database.windows.net;Initial Catalog=EnCourage;Persist Security Info=False;User ID=SilUtilSqlUser;Password=Pa55w0rd;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />


    <!--<add name="EncourageDataBaseConnection" connectionString="Data Source=Silicus273\SQLEXPRESS;Initial Catalog=EnCourage;User ID=sa;Password=Pa55w0rd;" providerName="System.Data.SqlClient" />-->

    <!--<add name="HangfireDataBaseConnection" connectionString="Server=tcp:utilitycontainerdbserver.database.windows.net,1433;Data Source=utilitycontainerdbserver.database.windows.net;Initial Catalog=HangfireBkgroundTask;Persist Security Info=False;User ID=SilUtilSqlUser;Password=Pa55w0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!--<add name="LoggerDataContext" connectionString="Data Source=.\SQLExpress;Initial Catalog=Silicus_Demo_Logger;Integrated Security=true" providerName="System.Data.SqlClient" />-->

    <add name="LoggerDataContext" connectionString="Server=tcp:utilitycontainerdbserver.database.windows.net,1433;Initial Catalog=Silicus_Demo_Logger;Persist Security Info=False;User ID=SilUtilSqlUser;Password=Pa55w0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ida:ClientId" value="b3dc7697-4120-441d-a190-e3fc0c8415ac" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:ClientSecret" value="sB33HlVB2DBC6xObUkdkipWIqWTLV9JdNfwl8LmBoBU=" />
    <add key="ida:Domain" value="SILICUSTECH.onmicrosoft.com" />
    <add key="ida:TenantId" value="487753ef-8cf6-4960-ad5f-9ceb7b82fcd7" />
    <add key="ida:PostLogoutRedirectUri" value="https://localhost:44324/" />
    <add key="ProductName" value="Encourage" />
    <add key="noOfNominationForManager" value="3" />
    <add key="UserName" value="testuserforemailtesting@gmail.com" />
    <add key="Password" value="Encouragetest.1234" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <!--<machineKey validationKey="EE237C3DE75B19DA44457AF81771AED3363743D4" decryptionKey="9A6A13DF7A122AC9463F53004A1D5D7F3857C7FA06FC66104B2DFBF58EDAEA0F" validation="SHA1" decryption="AES" />-->
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  <!--<sessionState mode="Custom" customProvider="EncourageSessionStateStore">
      <providers>
        --><!-- For more details check https://github.com/Azure/aspnet-redis-providers/wiki --><!--
        --><!-- Either use 'connectionString' OR 'settingsClassName' and 'settingsMethodName' OR use 'host','port','accessKey','ssl','connectionTimeoutInMilliseconds' and 'operationTimeoutInMilliseconds'. --><!--
        --><!-- 'throwOnError','retryTimeoutInMilliseconds','databaseId' and 'applicationName' can be used with both options. --><!--
        --><!--
          <add name="MySessionStateStore" 
            host = "127.0.0.1" [String]
            port = "" [number]
            accessKey = "" [String]
            ssl = "false" [true|false]
            throwOnError = "true" [true|false]
            retryTimeoutInMilliseconds = "5000" [number]
            databaseId = "0" [number]
            applicationName = "" [String]
            connectionTimeoutInMilliseconds = "5000" [number]
            operationTimeoutInMilliseconds = "1000" [number]
            connectionString = "<Valid StackExchange.Redis connection string>" [String]
            settingsClassName = "<Assembly qualified class name that contains settings method specified below. Which basically return 'connectionString' value>" [String]
            settingsMethodName = "<Settings method should be defined in settingsClass. It should be public, static, does not take any parameters and should have a return type of 'String', which is basically 'connectionString' value.>" [String]
            loggingClassName = "<Assembly qualified class name that contains logging method specified below>" [String]
            loggingMethodName = "<Logging method should be defined in loggingClass. It should be public, static, does not take any parameters and should have a return type of System.IO.TextWriter.>" [String]
          />
        --><!--
        
        <add name="EncourageSessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="Encourage.redis.cache.windows.net"  accessKey="IKHTMdw9ovqiA2qE2S8eu4VtnnpdyX3IWiYiUHe+0MM=" ssl="true" />
      </providers>
    </sessionState>--><httpHandlers>
      <add verb="*" path="routes.axd" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </httpHandlers></system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" /></handlers>
  </system.webServer>
  <!--This is for the 3rd party API endpoint-->
</configuration>