@model  Silicus.Ensure.Web.Models.ReviewQuestion.TabSelectionViewModel
@using Kendo.Mvc.UI;
@using Silicus.Ensure.Models.Constants;
@{
    ViewBag.Title = "Index";
}
<style>
    .k-loading-image {
        background-image: none !important;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-title">
            Review Questions
        </h1>
    </div>
</div>
<div class="row M-B20">
    <div class="col-sm-12">
       
                <div class="kendogrid">
                    @(Html.Kendo().TabStrip()
                .Name("ReviewQuestionTabs")
                .Items(tabstrip =>
                {
                    tabstrip.Add().Text("Ready for review" + " (" + Model.ReadyForReviewCount + ")").Selected(Model.IsReadyForReview).LoadContentFrom("/QuestionReview/ReviewQuestion?technologyId=" + @Model.TechnologyId + "&questionId=" + Model.QuestionId + "&questionStatusType=" + QuestionStatus.ReadyForReview).HtmlAttributes(new { @Id = QuestionStatus.ReadyForReview.ToString()+"Header" });
                    tabstrip.Add().Text("On hold" + " (" + Model.OnHoldCount + ")").Selected(Model.IsOnHold).LoadContentFrom("/QuestionReview/ReviewQuestion?technologyId=" + @Model.TechnologyId + "&questionId=" + Model.QuestionId + "&questionStatusType=" + QuestionStatus.OnHold).HtmlAttributes(new { @Id = QuestionStatus.OnHold.ToString() + "Header" });
                    tabstrip.Add().Text("Rejected" + " (" + Model.RejectedCount + ")").Selected(Model.IsRejected).LoadContentFrom("/QuestionReview/ReviewQuestion?technologyId=" + @Model.TechnologyId + "&questionId=" + Model.QuestionId + "&questionStatusType=" + QuestionStatus.Rejected).HtmlAttributes(new { @Id = QuestionStatus.Rejected.ToString() + "Header" });
                })
                .Events(eve => eve.Select("OnSelect"))
                    )

                </div>
            </div>
        </div>
    
<script>
    function OnSelect() {
        $('#ReviewQuestionTabs-1,#ReviewQuestionTabs-2,#ReviewQuestionTabs-3,#ReviewQuestionTabs-4').html('');
    }
</script>