@model  Silicus.Ensure.Web.Models.ReviewQuestion.TabSelectionViewModel
@using Kendo.Mvc.UI;
@using Silicus.Ensure.Models.Constants;
@{
    ViewBag.Title = "Index";
}
<style>
    .k-loading-image {
        background-image: none !important;
    }
</style>
<div class="row white-bg header-row">
    <nav class="" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" id="menu-toggle" style="margin-left:15px;border-radius:0px;" href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h1 class="dashboard-name">Review Questions</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box M-T15 M-B60">
            <div class="main-content">
                <div class="kendogrid">
                    @(Html.Kendo().TabStrip()
                .Name("ReviewQuestionTabs")
                .Items(tabstrip =>
                {
                    tabstrip.Add().Text("Ready for review" + " (" + Model.ReadyForReviewCount + ")").Selected(Model.IsReadyForReview).LoadContentFrom("/QuestionReview/ReviewQuestion?technologyId=" + @Model.TechnologyId + "&questionId=" + Model.QuestionId + "&questionStatusType=" + QuestionStatus.ReadyForReview);
                    tabstrip.Add().Text("On Hold" + " (" + Model.OnHoldCount + ")").Selected(Model.IsOnHold).LoadContentFrom("/QuestionReview/ReviewQuestion?technologyId=" + @Model.TechnologyId + "&questionId=" + Model.QuestionId + "&questionStatusType=" + QuestionStatus.OnHold);
                    tabstrip.Add().Text("Rejected" + " (" + Model.RejectedCount + ")").Selected(Model.IsRejected).LoadContentFrom("/QuestionReview/ReviewQuestion?technologyId=" + @Model.TechnologyId + "&questionId=" + Model.QuestionId + "&questionStatusType=" + QuestionStatus.Rejected);
                })
                .Events(eve => eve.Select("OnSelect"))
                    )

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function OnSelect() {
        $('#ReviewQuestionTabs-1,#ReviewQuestionTabs-2,#ReviewQuestionTabs-3,#ReviewQuestionTabs-4').html('');
    }
</script>