@model Silicus.Ensure.Models.DataObjects.Position



    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.PositionName) <span style="color:red;">*</span>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                @Html.TextBoxFor(model => model.PositionName, new { @class = "form-control " })
                <div class="validation">
                    @Html.ValidationMessageFor(m => m.PositionName)
                </div>
            </div>
        </div>
    </div>


<script>

    window.onbeforeunload = function () {
        return "Do you really want to close?";
    };
</script>

