@model Silicus.Ensure.Models.DataObjects.Position

<style>
    .text-position{
    border-color: #fdefba;
    background-color: #fdefba;
    color: #816704;
    }
</style>

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.PositionName) <span style="color:red;">*</span>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                @Html.TextBoxFor(model => model.PositionName, new { @class = "form-control " })
                <div class="validation" id="validationPosition">
                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="FromExperience" data-valmsg-for="FromExperience" id="FromExperience_validationMessage" role="alert"><span class="k-icon k-warning"> </span>Position is required.</span>
                    @*@Html.ValidationMessageFor(m => m.PositionName, "", new { @class = "text-position" })*@
                </div>
            </div>
        </div>
    </div>


<script>

    window.onbeforeunload = function () {
        return "Do you really want to close?";
    };
</script>

