@model Silicus.Ensure.Models.DataObjects.Position
@using Kendo.Mvc.UI;

@*<h2>Positions</h2>*@

<div>

    @if (Request.IsAuthenticated)
    {
        @(Html.Kendo().Grid<Silicus.Ensure.Models.DataObjects.Position>().Name("positionGrids")
                          .Events(e => e.Edit("gvPosition_onRowEdit"))
            .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model =>
                    {
                        model.Id(p => p.PositionId);
                        model.Field(p => p.PositionId).Editable(false);

                    })
                     .Read(read => read.Action("GetPositionDetails", "Positions"))
                     .Create(update => update.Action("PositionSave", "Positions"))
                     .Update(update => update.Action("PositionUpdate", "Positions"))
                     .Destroy(delete => delete.Action("PositionDelete", "Positions"))
                         .Events(events => events.Error("error_handler").RequestEnd("requestend_handlerPosition"))
                )
                .Columns(columns =>
                    {
                        columns.Bound(p => p.PositionId).Visible(false).Width(250);
                        columns.Bound(p => p.PositionName).Width(250);
                        columns.Command(command =>
                        {
                            command.Edit().HtmlAttributes(new { style = "margin-top:4px!important;"});
                            command.Custom("Delete").Click("ConfirmDeletePositionRow").HtmlAttributes(new { @class = "k-button k-button-icontext", style = "margin-top:4px!important;" });
                        }).Title("Actions").Width(160);

                    })
                .Pageable(pager => { pager.PageSizes(true); })
                .Sortable()
                .ToolBar(toolbar =>
                {
                    toolbar.Template(@<text>
                        <div class="toolbar">
                            <div class="row">
                                <div class="col-sm-12 M-B15">
                                    <div class="col-sm-3 M-T15">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                            <input type="text" class="form-control" id='PositionFieldFilter' placeholder="Search" style="height: 38px;">
                                            <span class="input-group-btn">
                                                <button id="postionSearch" class="btn btn-default" type="button" style="height:20px!important;border:1px solid #0070B9!important"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                            </span>
                                        </div>

                                    </div>
                                    <a href='/Positions/PositionSave' style="margin-top:20px;" class='k-button k-button-icontext k-grid-add'><span class='k-icon k-add'></span>Add position</a>
                                </div>
                            </div>

                        </div>
                    </text>);
                })
                                            .Editable(ed => ed.Mode(GridEditMode.InLine))
        )
    }
</div>

<script>

    $(document).ready(function () {
        $("#PositionFieldFilter").keyup(function () {

            var value = $("#PositionFieldFilter").val();
            grid = $("#positionGrids").data("kendoGrid");
            var pageSize = grid.dataSource.pageSize();
            if (value.length > 0) {
                if (value) {
                    grid.dataSource.filter({ field: "PositionName", operator: "contains", value: value });
                    grid.dataSource.sort({ field: "PositionName", dir: "asc" });
                    grid.dataSource.pageSize(pageSize);
                } else {
                    grid.dataSource.filter({});
                }
            }
            else if (value == "")
                grid.dataSource.filter({});
        });

        $("#postionSearch").click(function (e) {
            e.preventDefault();
            var datasource = $("#positionGrids").data("kendoGrid").dataSource;
            //Clear filters:
            datasource.filter([]);
            $("#PositionFieldFilter").val('');
        });
    });

    (function ($, kendo) {
        $.extend(true, kendo.ui.validator, {
            rules: {
                //define custom validation rule to match remote validation:
                mvcremotevalidation: function (input) {
                    if (input.is("[data-val-remote]") && input.val() != "") {
                        var remoteURL = input.attr("data-val-remote-url");
                        var valid;
                        $.ajax({
                            async: false,
                            type: "POST",
                            url: remoteURL,
                            data: JSON.stringify({ 'positionName': input.val() }),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                valid = data;
                            }
                        });
                        return valid;

                    }
                    return true;
                }
            },
            messages: {
                mvcremotevalidation: function (input) {
                    return input.attr("data-val-remote");
                }
            }
        });

    })(jQuery, kendo);

    function gvPosition_onRowEdit(e) {
        if (e && e.model && e.model.isNew()) {
            $(".k-grid-update").html('<span><i class="fa fa-save"></i> Save </span>');
        }
    }

    function requestend_handlerPosition(e) {
        if (e.type == "destroy" && !e.response.Errors) {
            //toastr.success("Auto Pays details has been deleted successfully!");
            ShowMessage("Position deleted successfully.", 1);
            RefreshKendoGrid('positionGrids');
        }

        if (e.type == "update" && !e.response.Errors) {
            //toastr.success("Auto Pays details has been saved successfully!");
            ShowMessage("Position updated successfully.", 1);
            RefreshKendoGrid('positionGrids');
        }

        if (e.type == "create" && !e.response.Errors) {
            ShowMessage("Position created successfully.", 1);
            RefreshKendoGrid('positionGrids');
        }

    }

    function error_handler(e) {
        ShowMessage(getErrorMessage(e, 0));
    }

    function ConfirmDeletePositionRow(e) {
        var tr = $(e.target).closest("tr"); //get the row for deletion
        var data = this.dataItem(tr);
        deleteKendoGridRow('positionGrids', data);
    }

</script>
