<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="UtilityContainerEntities" connectionString="metadata=res://*/UtilityContainerContext.csdl|res://*/UtilityContainerContext.ssdl|res://*/UtilityContainerContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=utilitycontainerdbserver.database.windows.net;initial catalog=UtilityContainer;user id=SilUtilSqlUser;password=Pa55w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EnableDevEntities" connectionString="metadata=res://*/EnableViewsContext.csdl|res://*/EnableViewsContext.ssdl|res://*/EnableViewsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=enabledevsvr.database.windows.net;initial catalog=EnableDev;user id=enabledatareader1;password=@Ena&amp;bl3#wE12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
    <add name="UtilityContainerEntities" connectionString="metadata=res://*/UtilityContainerContext.csdl|res://*/UtilityContainerContext.ssdl|res://*/UtilityContainerContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SILICUS441\SQLEXPRESS;initial catalog=UtilityContainer;user id=publicwebsiteuser;password=publicwebsiteuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>