@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_EnboardLayout.cshtml";
}

<div class="containerInner">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <p class="supportDescription">
                        Your on-boarding point-of-contact is Neha Tickoo from the Human Resource team.
                    <p>
                        Reach out to <a href="mailto:onboarding-india@silicus.com"> onboarding-india@silicus.com </a>
                        if you have any queries.
                    </p>
                    </p>
                </div>
            </div>
            <div class="row supportContact">
                @*@if (ViewBag.IsOnboarded)
                {
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="supportBox">
                            <h4 class="title"> HR Contact </h4>
                            <img src="~/Content/NewUI/images/neha.jpg">
                            <div class="caption">
                                <p>
                                    Neha Tickoo <br />
                                    Tel: +91.20.30204000     Extn. 9728<br />
                                    <a href="mailto:neha.tickoo@silicus.com"> neha.tickoo@silicus.com </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="supportBox">
                            <h4> IT Contact </h4>
                            <img src="~/Content/NewUI/images/user_two.jpg">
                            <div class="caption">
                                <p>
                                    Rahul Chandan<br />
                                    Tel: +91.20.30204000     Extn. 9734<br />
                                    <a href="mailto:rahul.chandan@silicus.com">rahul.chandan@silicus.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="supportBox">
                            <h4> Admin Contact</h4>
                            <img src="~/Content/NewUI/images/glory.jpg">
                            <div class="caption">
                                <p>
                                    Glory Barnabas<br />
                                    Tel: +91.20.30204000     Extn. 9700<br />
                                    <a href="mailto:glory.barnabas@silicus.com">glory.barnabas@silicus.com </a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
                else{*@
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="supportBox">
                            <h4 class="title"> On-boarding Contact </h4>
                            <img src="~/Content/NewUI/images/user.png">
                            <div class="caption">                      
                                <p>
                                    Neha Tickoo
                                </p>
                                <p style="font-size: 13px">
                                    Tel: 91.20.3020.4000 / 4916.4000 Extn. 9728<br />
                                    <a href="mailto:onboarding-india@silicus.com"> onboarding-india@silicus.com </a>
                                </p>
                            </div>
                        </div>
                    </div>
                @*  }*@
            </div>
            @*<div class="row faqList">
                <div class="col-md-12"><h4> FAQ</h4></div>
                <div class="col-lg-6">
                    <div id="accordion0" class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse_1" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        Where do I go on day one?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_1" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse_2" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        What should I expect on my first day?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_2" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse_3" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        What should I wear?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_3" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse_4" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        When will I receive my ID Card?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_4" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="accordion1" class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse_5" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        Where can I park my vehicle?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_5" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse_6" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        Are there any office “perks”?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_6" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse_7" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        Where can I have my lunch on first day ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_7" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>

