@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_EnboardLayout.cshtml";
}



<div class="containerInner">
    <div class="row">
        <div class="col-lg-12 ">
            <div class="welcomeText AboutSilicus">
                <p>Silicus is a cloud-first technology services company, focused on enabling digital business transformation initiatives in infrastructure modernization, software driven business, intelligent analytics, iOT connect enterprise, and digital workplace productivity.</p>
                <div class="outerGridLayout">
                    <div class="col-sm-6 gridLayout">
                        <img src="~/Content/NewUI/images/company-snapshot/1.jpg" />
                        <div class="textOuter">
                            <h4>Company Snapshot</h4>
                            <ul>
                                <li>Global team of over 600 professionals take great pride in being part of the Silicus family</li>
                                <li>Featured in the 2017 Inc 500 I 5000 list for the 5th Consecutive year (an exclusive ranking of the US Nation’s fastest-growing private companies)</li>
                                <li>Appraised at CMMi level 3</li>
                                <li>Offices across six locations in the world</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 gridLayout">
                        <img src="~/Content/NewUI/images/our-vision/1.jpg" />
                        <div class="textOuter">
                            <h4>Our Vision</h4>
                            <p>Build competitive advantage with technology innovation, evolve fast and adopt continuously and industrialize organizational speed and agility.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 gridLayout">
                        <img src="~/Content/NewUI/images/our-values/1.jpg" />
                        <div class="textOuter">
                            <h4>Our Values</h4>
                            <ul>
                                <li>Unwavering Integrity (Ethics, trust, fairness, transparency and honesty)</li>
                                <li>Client Success defines our success</li>
                                <li>Responsibility & Ownership of work commitment</li>
                                <li>Continuous Improvement through innovation</li>
                                <li>Respect and Tolerance for the Individual and Individuality</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 gridLayout">
                        <img src="~/Content/NewUI/images/life-at-silicus/1.jpg" />
                        <div class="textOuter">
                            <h4>Life at Silicus</h4>
                            <p>You’ll fondly be known as “SILICAN” when you join the family. When you become a part of us, you will be joining a choice group of fast-paced individuals.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 gridLayout">
                        <img src="~/Content/NewUI/images/events/1.jpg" />
                        <div class="textOuter">
                            <h4>Events</h4>
                            <p>We celebrate all festivals and events with great enthusiasm and zeal. <b>Utsav </b> our team of self-motivated volunteers, are involved in organizing various events. These activities include events around festivals, entertainment, social cause, talent recognition, get-togethers and annual parties.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 gridLayout">
                        <img src="~/Content/NewUI/images/learning/1.jpg" />
                        <div class="textOuter">
                            <h4>Learning</h4>
                            <p>
                                Join the Tech-Talk group each month to present or learn about new or emerging technologies and trends in the industry. This group tries to keep everyone up-to-date with the latest.
                            </p>
                            <p>Get certified in the company sponsored certifications and keep yourself updated on the latest technologies relevant to your area of work.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 gridLayout">
                        <img src="~/Content/NewUI/images/sports/1.jpg" />
                        <div class="textOuter">
                            <h4>Sports</h4>
                            <p>We participate in inter-IT company competitions for Cricket. Join the group if you are a cricket enthusiast.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 gridLayout">
                        <img src="~/Content/NewUI/images/newsletter/1.jpg" />
                        <div class="textOuter">
                            <h4>Newsletter</h4>
                            <p><b>Pulse</b> (newsletter) is published for Silicans to capture and present the monthly highlights across the company. We package organizational updates, acknowledgements and recreational content that not only gives every employee a window to look through the entire company but also creates a sense of belonging to the Silicus family.</p>
                        </div>
                    </div>
                </div>
                <!-- outerGridLayout -->
            </div>
            <!-- AboutSilicus -->
        </div>
    </div>
</div>



