
@{
    ViewBag.Title = "Learn";
    Layout = "~/Views/Shared/_EnboardLayout.cshtml";
}

<div class="containerInner">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <h5 style="margin-left:16px"> We have a few FAQs to address some of your basic queries about your new workplace on day 1. <p>Please reach out to the on-boarding SPOC for specific queries.</p> </h5>
            </div>
            <div class="row faqList">
                <div class="col-lg-6">
                    <div id="accordion0" class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse_1" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        Entering IT Park on your first day.
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_1" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <p> Report to the Pune IT Park security desk (at the entrance) and share your details. You will be handed over a gate pass by the security after showing a valid ID proof. Handover this gate pass to them when you leave for the day. Silicus will issue a temporary gate pass to use as part of the joining process until the company ID card is issued. The ID card is issued usually within a week’s time. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse_2" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        Where do I report to on my first day?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_2" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <p> You need to report to C wing (3rd floor). Meet the point of contact mentioned in your Joining Document Checklist. The individual will assist you in your onboarding formalities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse_3" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        What should I wear?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_3" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <p> Be dressed in Business Casuals. We have a dress code policy which will be made available on the first day of joining for further reference. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse_4" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        How would my first day go by?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_4" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <p>You will have to spend some time in the paper work if complete information is not provided on Enboard. Joining letters will be issued. Statutory formalities will be completed. The on-boarding point of contact will help you with introductions and a facility tour. Your desk and work station will be allocated for you to get started. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="accordion1" class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse_5" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        Where can I park my vehicle?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_5" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    @*Modified the content*@
                                    <p> Limited parking slots are allotted to Silicus employees for their 2-wheelers and 4-wheelers. You need to speak to Pune IT Park security, they will assist you.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse_6" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        What are the official work timings?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_6" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <p>Official working hours are from 9.30 am to 6.30 pm.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse_7" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        Where can I have my lunch on first day?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_7" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <p> IT Park has a common cafeteria where lunch is served. You will be handed over a lunch coupon to avail on the first day by the on-boarding point of contact. However, if you wish to carry lunch from home, you may do so and have it in the cafeteria. </p>
                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse_8" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        What should I remember while entering Silicus office?
                                    </a>
                                </h3>
                            </div>
                            <div id="collapse_8" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <p>Personal electronic items like Laptops / USB drive, etc. are not allowed inside Silicus. In case you need to carry them in, please declare them at the Security Desk of Silicus.  </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>

