@model Silicus.Finder.Web.ViewModel.CubicleLocationViewModel
<h3>Cubicle Location</h3>
<div>
    <span class="details-header">
        Building
    </span>
    <span>:</span>
    <span class="details-content">
        @Html.DisplayFor(model => model.Building)
    </span>
</div>
<div>
    <span class="details-header">
        Floor Number
    </span>
    <span>:</span>
    <span class="details-content">
        @Html.DisplayFor(model => model.FloorNumber)
    </span>
</div>
<div>
    <span class="details-header">
        Desk Number
    </span>
    <span>:</span>
    <span class="details-content">
        @Html.DisplayFor(model => model.DeskNumber)
    </span>

</div>