@{
    ViewBag.Title = "Success";
}
<div style="padding-top:100px">
    <h2>@ViewBag.SavedEmployee added Successfully</h2>
</div>
<div>
    @Html.ActionLink("Back to List", "GetAllEmployees", "Employee")
</div>


