<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>false</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>SILICUSTECH.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Production</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://encourageapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>encourageapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>encourageapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$encourageapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EncourageDataBaseConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLExpress;Initial Catalog=Encourage;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EncourageDataBaseConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLExpress;Initial Catalog=Encourage;Integrated Security=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LoggerDataContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLExpress;Initial Catalog=Encourage_Logger_DB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LoggerDataContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLExpress;Initial Catalog=Encourage_Logger_DB;Integrated Security=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Silicus.EncourageWithAzureAd.Web.Models.ApplicationDbContext, Silicus.EncourageWithAzureAd.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Silicus.Encourage.DAL.CommonDatabaseContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Silicus.Encourage.DAL.CommonDatabaseContext, Silicus.Encourage.DAL" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Silicus.Encourage.DAL.DataContextBase" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Silicus.Encourage.DAL.DataContextBase, Silicus.Encourage.DAL" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Silicus.Encourage.DAL.EncourageDatabaseContext" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Silicus.Encourage.DAL.EncourageDatabaseContext, Silicus.Encourage.DAL" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Silicus.Encourage.Models.EnCourageEntities" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Silicus.Encourage.Models.EnCourageEntities, Silicus.Encourage.Models" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EncourageDataBaseConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LoggerDataContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Silicus.Encourage.DAL.CommonDatabaseContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Silicus.Encourage.DAL.DataContextBase-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Silicus.Encourage.DAL.EncourageDatabaseContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Silicus.Encourage.Models.EnCourageEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Silicus.Encourage.DAL.CommonDatabaseContext" />
    <_ConnectionStringsToInsert Include="Silicus.Encourage.DAL.DataContextBase" />
    <_ConnectionStringsToInsert Include="Silicus.Encourage.DAL.EncourageDatabaseContext" />
    <_ConnectionStringsToInsert Include="Silicus.Encourage.Models.EnCourageEntities" />
  </ItemGroup>
</Project>