@model Models.WelcomeModel
@{
   
    Layout = "~/Views/Shared/_EnboardLayout.cshtml";
    }
<style>
    .label {
        color: #6D6767;
        font-size: inherit;
    }
</style>

@*@Scripts.Render("~/bundles/jquery")*@

@*<div>
        @Html.Raw(ViewBag.HtmlStr)
</div>*@

<div class="containerInner">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="alert alert-welcome alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                Welcome <strong> User </strong>  to Silicus Onboarding Portal
            </div>
            <div class="welcomeText">
                <p>Welcome to Enboard! </p>
                <p> Enboard is our onboarding tool for new members joining Silicus. You are required to complete information on this new hire onboarding portal related to your joining. This activity should not take over 30 minutes of your time to complete the process.</p>
                <p>While you are in this portal, please check the information we have for you in your dashboard. Some of this pre-populated from the information you provided to Silicus Recruiting Team during your hiring process. If there are any corrections to be made, you can edit the field(s) and send it to us for an approval to change.</p>
                <p>Taking the time to complete the onboarding information now will significantly cut down on the time to get you up and running on your first day of joining. You can return to this portal at any point by saving your information which means that you will not have to complete everything in one sitting. Simply remember to save your information prior to exiting to come back at any time to complete the rest.  Ensure that you provide all information before joining.</p>
                <p>We are delighted to have you onboard our organization and look forward to what we hope to be the beginning of a long-term and mutually beneficial career with Silicus.</p>
                <a href="/User/PersonalDetails">
                    <button type="button" class="btn btn-primary getStarted"><span>Get Started</span></button>
                </a>
            </div> 
            
        </div> 
    </div> 
   
</div>