@using System.Configuration
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Custom Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:80%;padding-top:10%" class="text-center">
    <span class="text-danger" style="font-weight:bolder;">
        <i class="fa fa-bug"></i> Error 404.<br><a href="@Url.Action("Index","Home")" data-rel="back">Back to homepage</a>
    </span>
</div>