@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Dashboard";
    var user = Html.Partial("/Views/ManageUser/_GetUserListPartialView.cshtml");
}
<!-- BEGIN PAGE TITLE-->
<div class="row">
    <div class="col-sm-12">
        <h1 class="page-title">
           User Management
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success M-T15" id="messageDiv" style="display:none;margin-bottom:0px;">
            <span id="messageContent">@Convert.ToString(TempData["Success"])</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
            <div class="M-B60">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="kendogrid">
                            @(user)
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        SelectedMenu('#user-mgmt-link');
        SetNavigationMenuActive('ManageUser');
    });
</script>