@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Dashboard";
    var user = Html.Partial("/Views/ManageUser/_GetUserListPartialView.cshtml");
}
<div class="main-content">
    <div class="fluid mt20">
        @if (TempData["Success"] != null && !string.IsNullOrWhiteSpace(Convert.ToString(TempData["Success"])))
        {
            <div class="alert alert-success" id="messageDiv">
                <strong>Success!</strong> <span id="messageContent">@Convert.ToString(TempData["Success"])</span>
            </div>
        }
        <div class="kendogrid">
            @(user)
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#messageDiv').fadeOut(5000);
    });
</script>