
@{
    ViewBag.Title = "Nolistpage";
}
<div class="container">
    <div class="alert alert-danger" style="margin-top: 90px;">
        <h3><strong>Sorry !</strong> There is no @ViewBag.CodeData.</h3>
    </div>
</div>

