body{

}
.dashboard-name{margin-top:15px;}
.well-section{
    margin-left:3px;
    margin-right:3px;
}
.well{
    margin-bottom:10px;
    padding:15px;
}
.header-walloffame{
    font-weight:bold;
    color:#0070b9;
    font-size:15px;
    padding:10px;

}
/*.loader {
    background-image: url('../Images/loader_small.gif');
}*/

.margin-left-40{
    margin-left:40%;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}