@model IEnumerable<Silicus.Ensure.Web.Models.UserViewModel>
@using Silicus.Ensure.Models.Constants;
@using Kendo.Mvc.UI;

<div class="">



    <div class="table-responsive">

        @if (Request.IsAuthenticated)
        {
            @(Html.Kendo().Grid(Model).Name("userGrids")
         .Columns(columns =>
         {
             columns.Bound("").ClientTemplate("<input type='radio' name='selectUser' value='#= UserId#' />").Width(20);
             columns.Bound(p => p.FirstName).ClientTemplate("<a href='" + Url.Action("CandidateHistory", "Admin") + "?UserId=#=UserId#' target='_blank'> #=FirstName# #=LastName#  </a>").Title("Name").Width(200);
             columns.Bound(p => p.Email).Title("Email").Width(200);
             //columns.Bound(p => p.RequisitionId).Title("Requisition id").Width(100);
             columns.Bound(p => p.Position).Width(200);
             columns.Bound(p => p.ContactNumber).Title("Contact number").Width(100);
             columns.Bound(p => p.TotalExperienceInYear).ClientTemplate("#=TotalExperienceInYear#.#=TotalExperienceInMonth#").Title("Total experience").Width(80);
             // columns.Bound(p => p.PanelName).Title("Panel").Width(200);
             columns.Bound(p => p.CandidateStatus).ClientTemplate(@"
                                                                        #if(CandidateStatus=='TestAssigned'){#
                                                                            Test Assigned
                                                                        #}
                                                                        else if(CandidateStatus=='TestSubmitted') {#
                                                                            Test Submitted
                                                                        #}
                                                                        else if(CandidateStatus=='UnderEvaluation') {#
                                                                            Under Evaluation
                                                                        #}
                                                                        else if(CandidateStatus=='OnHold') {#
                                                                          On Hold
                                                                        #}
                                                                        else{#
                                                                            #=CandidateStatus#
                                                                        #}
                                                                        #").Title("Status").Width(250);
  

         })
                  .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(p => p.UserId);
                                model.Field(p => p.UserId).Editable(false);
                            })                       
                                .PageSize(10)
                                .ServerOperation(false)
                           )
                  .Pageable(p => p.PageSizes(true))
                  .Sortable()
                  .Resizable(resizing => resizing.Columns(true))             
            )


        }

    </div>
</div>

<script>
    $("#FieldFilterCandidate").keyup(function () {
        var value = $("#FieldFilterCandidate").val();
        grid = $("#userGrids").data("kendoGrid");

        if (value.length > 0) {
            if (value) {
                grid.dataSource.filter({ field: "FirstName", operator: "contains", value: value });
                grid.dataSource.filter({ field: "LastName", operator: "contains", value: value });
                grid.dataSource.filter({ field: "Email", operator: "contains", value: value });
            } else {
                grid.dataSource.filter({});
            }
        }
        else if (value == "")
            grid.dataSource.filter({});
    });


</script>