@model Silicus.Ensure.Web.Models.TestSuiteCandidateModel

<div class="progressBar">
    <h6>PROGRESS</h6>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
             aria-valuemin="0" aria-valuemax="100" style="width:70%">
            70%
        </div>
    </div>
</div>
<div class="time-section">
    <h6>DURATION</h6>
    <div class="timeBox">
        <span>1:30:00:0</span>
    </div>
</div>
<div class="test-summary">
    <h6>TEST SUMMARY</h6>
    <div class="summaryBox">
        <table class="table">
            <tbody>
                <tr>
                    <td>Total Questions</td>
                    <td>Objectives</td>
                    <td>Practical</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="textAlignCenter">
                        <span class="numbers">                            
                        </span>
                    </td>
                    <td class="textAlignCenter">
                        <span class="numbers">
                            40
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Answered</td>
                    <td class="textAlignCenter">0</td>
                    <td class="textAlignCenter">100</td>
                </tr>
                <tr>
                    <td>Not answered</td>
                    <td class="textAlignCenter">0</td>
                    <td class="textAlignCenter">40</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>