@using Kendo.Mvc.UI;


<style>
    .box {
    background: #fff;
    padding: 10px;
    width: auto;
    height: auto;
    box-shadow: 1px 1px 3px #888888;
}
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <h3 style="color:red;">No test is assigned for you, Kindly contact system administrator.</h3>
        </div>
    </div>
</div>
