@model Silicus.ProjectTracker.Web.ViewModel.ChangeRequestDetailsViewModel
@using Silicus.ProjectTracker.Web.ViewModel;
@using Kendo.Mvc.UI;
@using Silicus.ProjectTracker.Models.DataObjects;


<table style="width: 100%;">

    <tr>
        <td>
            <div class="kendotable mt10">

                @(Html.Kendo().Grid<ChangeRequestDetailsViewModel>().Name("grdChangeRequestDetail")
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Batch(true)
                    .ServerOperation(false)
                    .Model(model =>
                            {
                                model.Id(p => p.ChangeRequestId);
                                model.Field(p => p.ChangeRequestId).Editable(false);
                            })
                                .Read(read => read.Action("GetChangeRequestDetails", "User").Data("additionalInfo"))
                            )

                        .Columns(columns =>
                        {
                            columns.Bound(p => p.ChangeRequestId).Hidden();
                            columns.Bound(p => p.ProjectId).Hidden();
                            columns.Bound(p => p.ChangeRequestNumber);
                            columns.Bound(p => p.ReceivedDate);
                            columns.Bound(p => p.ChangeRequestStatusList);
                            columns.Command(command => command.Destroy()).Width(90).Title("Actions");
                        })
                          .ToolBar(toolBar =>
                        {
                            toolBar.Create();
                        })

                        .Pageable()
                        .Sortable()
                        .Editable(ed => ed.Mode(GridEditMode.InCell))
                        .Navigatable()
                        .Filterable()
                        .ColumnMenu()
                )

            </div>
        </td>
    </tr>
</table>

<script>

    $(document).ready(function () {
        var projectID = $("#hdnProjectId").val();
    });

    function onSelectStatus(e) {
        var dataItem;
        var selectedText = this.dataItem(e.item.index()).Text;
        var selectedValue = this.dataItem(e.item.index()).Value;
                
        var grid = $("#grdChangeRequestDetail").data("kendoGrid");
        model = grid.dataItem(this.element.closest("tr"));
        model.set("ChangeRequestStatusId", selectedValue);
    }
</script>

