@using Kendo.Mvc.UI;

<div class="mapping" style="border: 1px solid gray; position: absolute; width:910px; padding:20px;">

@using (@Html.BeginForm("UploadData", "User", FormMethod.Post, new { @id = "UploadDataForm", @enctype = "multipart/form-data" }))
{
    <h3>Upload Project Details</h3>
    <hr />
    
    <table style="width:100%">
        <tr>
            <td>
                @(Html.Kendo().DropDownList()
                        .Name("getWeekControl")
                        .BindTo((SelectList)ViewBag.WeekList)
                        .DataValueField("Text")
                        .DataTextField("Value")
                        .SelectedIndex(1)
                        .OptionLabel("Select Week")
                        .HtmlAttributes(new { style = "width:250px" })
                )
            </td>
            <td>
                <input type="file" name="file_Uploader" id="fileUpload" />
            </td>
            <td>
                <input class="btn btn-silicus mt5 mb5" id="btnUploadFile" type="button" value="Upload Data" title="Upload" />
            </td>
        </tr>
    </table>
    @*<input class="btn btn-silicus mt5 mb5" id="btnUploadList" value="Upload Data" type="button" title="Upload" onclick="UploadData()" />*@    
}
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#btnUploadFile').on('click', function () {

            var weekid = $("#getWeekControl").val();
            var data = new FormData();

            var files = $("#fileUpload").get(0).files;

            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                data.append("UploadedImage", files[0]);
            }

            // Make Ajax request with the contentType = false, and procesDate = false
            $.ajax({
                type: "POST",
                url: "/User/UploadData?WeekId=" + weekid,
                contentType: false,
                processData: false,
                data: data
            })
            .success(function (result) {
                if (result.Message == "Success") {
                    toastr.success('Data Uploaded Successfully');
                }
                else {
                    toastr.error('Error While Uploading Data' + result.Message);
                }
            })
	        .error(function (xhr, status) {
		        toastr.error('Error While Uploading Data');
	        });
        });
    });


   @* function UploadData() {

        //$("#WeekId").val($("#getWeekControl").val());

        //$("#UploadDataForm").submit();

        var weekid = $("#getWeekControl").val();

        var model = { WeekId: weekid };
        $.ajax({
            url: '@Url.Action("UploadData", "User")',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            data: JSON.stringify(model)
        })
		.success(function (result) {

			if (result.Message == "Success") {
			    toastr.success('Data Uploaded Successfully');
			    //Refresh the data in the grid
			}
			else {
			    toastr.error('Error While Uploading Data' + result.Message);

			}

		})
		.error(function (xhr, status) {
			toastr.error('Error While Uploading Data');
		});
    }*@

</script>

