@model Silicus.Ensure.Models.DataObjects.Tags
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Tags";
}

<h2>Admin Dashboard</h2>

<div>      
              
    @if (Request.IsAuthenticated)
    { 
        @(Html.Kendo().Grid<Silicus.Ensure.Models.DataObjects.Tags>().Name("tagsGrids")
         .Columns(columns =>
              {
                  columns.Bound(p => p.TagName).Width(50);                 
                  columns.Bound(p => p.IsActive).Width(50);                  
                  columns.Command(command => { command.Edit(); command.Destroy(); }).Width(160);
              })      
        .DataSource(dataSource => dataSource
                  .Ajax()
                  .Model(model =>
                  {
                      model.Id(p => p.TagId);
                      model.Field(p => p.TagId).Editable(false);
                  })

                      .Read(read => read.Action("GetTagsDetails", "Tag"))
                      .Create(update => update.Action("CreateTag", "Tag"))
                      .Update(update => update.Action("UpdateTag", "Tag"))
                      .Destroy(update => update.Action("DeleteTag", "Tag"))
              )
             
                   
              .Pageable()
              .Sortable()
              .ToolBar(toolbar => toolbar.Create())
              .Editable(ed => ed.Mode(GridEditMode.InLine))
              )


    }
</div>

