@using Kendo.Mvc.UI;
@{    ViewBag.Title = "Panle List";    }

@if (Request.IsAuthenticated)
{
    @(Html.Kendo().Grid<Silicus.Ensure.Web.Models.PanelViewModel>().Name("panelGrids")
                     .Columns(columns =>
                          {
                              columns.Bound(p => p.PanelId).ClientTemplate(@"<input type='checkbox' #if(IsAssignedPanel){# checked='checked' #}# class='check' id='chkHeader' value='#=PanelId#'/>").Title("").Width(100);
                              columns.Bound(p => p.PanelName).Width(200);
                              columns.Bound(p => p.Designation).Width(200);
                              columns.Bound(p => p.Department).Width(200);
                          })
                              .DataSource(dataSource => dataSource
                                  .Ajax()
                                  .Model(model =>
                                  {
                                      model.Id(p => p.PanelId);
                                      model.Field(p => p.PanelId).Editable(false);
                                  })
                                      .Read(read => read.Action("GetPanelDetails", "Admin", new { UserId = @ViewBag.CurrentUser }))
                                  .PageSize(10)
                          )
                              .Pageable(x => x.PageSizes(true))
                          .Sortable()
                          .ToolBar(toolbar =>
                                {
                                    toolbar.Template(@<text>
                                        <div class="toolbar">
                                            <div class="row" style="padding:10px;">
                                                <div class="col-sm-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                                        <input type="text" class="form-control" id='FieldFilterPanel' placeholder="Search">
                                                        <span class="input-group-btn">
                                                            <button id="panelSearch" class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </text>);
                                })

    )

}
<input type="hidden" value="@ViewBag.CurrentUser" id="CurrentUser" />
<input type="hidden" value="@ViewBag.IsReassign" id="IsReAssign" />
<script>
    $(document).ready(function () {

        $("#FieldFilterPanel").keyup(function () {
            var value = $("#FieldFilterPanel").val();
            grid = $("#panelGrids").data("kendoGrid");

            if (value.length > 1) {
                if (value) {
                    grid.dataSource.filter({ field: "PanelName", operator: "contains", value: value });
                } else {
                    grid.dataSource.filter({});
                }
            }
            else if (value == "")
                grid.dataSource.filter({});
        });
        $("#panelSearch").click(function (e) {
            e.preventDefault();
            var datasource = $("#panelGrids").data("kendoGrid").dataSource;
            //Clear filters:
            datasource.filter([]);
            $("#FieldFilterPanel").val('');
        });
    });

    $("#panelGrids").on("change", "input.check", function (e) {
        var v = $(this).is(":checked");
        $("input.check", "#panelGrids").prop("checked", false);
        $(this).prop("checked", v);
    });
</script>
