@using Kendo.Mvc.UI;
@{    ViewBag.Title = "Recruiter List";    }


    <div class="toolbar">
        <div class="row">
            <div class="col-sm-12 addclearFloat">
                <div class="form-group clearFloat1 addclearFloat1">
                    <div class="input-group searchInputGroup">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" id='FieldFilterPanel' placeholder="Search" style="height: 31px;">
                        <span class="input-group-btn">
                            <button id="panelSearch" class="btn green" type="button" style="padding:6px 13px 5px !important;"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

@if (Request.IsAuthenticated)
{
    @(Html.Kendo().Grid<Silicus.Ensure.Web.Models.RecruiterViewModel>().Name("recruiterGrids")
                     .Columns(columns =>
                          {
                              columns.Bound(p => p.RecruiterId).ClientTemplate(@"<input type='checkbox' #if(IsAssignedRecruiter){# checked='checked' #}# class='check' id='chkHeader' value='#=RecruiterId#'/>").Title("").Width(100);
                              columns.Bound(p => p.RecruiterName).Width(700);
                            
                          })
                              .DataSource(dataSource => dataSource
                                  .Ajax()
                                  .Model(model =>
                                  {
                                      model.Id(p => p.RecruiterId);
                                      model.Field(p => p.RecruiterId).Editable(false);
                                  })
                                      .Read(read => read.Action("GetRecruiterDetails", "Admin", new { UserId = @ViewBag.CurrentUser }))
                                  .PageSize(10)
                          )
                              .Pageable(x => x.PageSizes(true))
                          .Sortable()
                          

    )

}
<input type="hidden" value="@ViewBag.CurrentUser" id="CurrentUser" />
<input type="hidden" value="@ViewBag.IsReassign" id="IsReAssign" />
<script>
    $(document).ready(function () {

        $("#FieldFilterPanel").keyup(function () {
            var value = $("#FieldFilterPanel").val();
            grid = $("#recruiterGrids").data("kendoGrid");

            if (value.length > 1) {
                if (value) {
                    grid.dataSource.filter({ field: "RecruiterName", operator: "contains", value: value });
                } else {
                    grid.dataSource.filter({});
                }
            }
            else if (value == "")
                grid.dataSource.filter({});
        });
        $("#panelSearch").click(function (e) {
            e.preventDefault();
            var datasource = $("#recruiterGrids").data("kendoGrid").dataSource;
            //Clear filters:
            datasource.filter([]);
            $("#FieldFilterPanel").val('');
        });
    });

    $("#recruiterGrids").on("change", "input.check", function (e) {
        var v = $(this).is(":checked");
        $("input.check", "#recruiterGrids").prop("checked", false);
        $(this).prop("checked", v);
    });
</script>
