@model Silicus.Ensure.Web.Models.UserViewModel
@using Silicus.Ensure.Models.Constants
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Candidate Dashboard";
    var users = Html.Partial("/Views/Admin/_partialViewCandidates.cshtml");
}


<!-- BEGIN PAGE TITLE-->
<div class="row">
    <div class="col-sm-12">
        <h1 class="page-title">
            Candidates
        </h1>
    </div>
</div>

<!-- END PAGE TITLE-->

<div class="kendogrid toolbar">
    @users
</div>
         
           


<script>
    $(document).ready(function () {        
        SelectedMenu("#candidate-link");
        if ('@Convert.ToString(TempData["ErrorMsg"])' != '') {
            ShowMessage("@Convert.ToString(TempData["ErrorMsg"])", 0);
        }
        else {
            $("#messageDiv").hide();
        }
    });
</script>