@model Silicus.Ensure.Web.Models.UserViewModel
@using Silicus.Ensure.Models.Constants
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Candidate Dashboard";
    var users = Html.Partial("/Views/Admin/_partialViewCandidates.cshtml");
}

<div class="row white-bg header-row">
    <nav class="" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" id="menu-toggle" style="margin-left:15px;border-radius:0px;" href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>

    <div class="col-lg-10 col-md-10 col-sm-10">
        <h1 class="dashboard-name">Candidates</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="fluid M-T15">
            <div class="alert alert-success" id="messageDiv">
                <span id="messageContent">@Html.ValidationSummary(true)</span>
            </div>
            
            <div class="box">
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="kendogrid">
                            @users
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        if ('@Convert.ToString(TempData["ErrorMsg"])' != '') {
            ShowMessage("@Convert.ToString(TempData["ErrorMsg"])", 0);
        }
        else {
            $("#messageDiv").hide();
        }
    });
</script>