@model Silicus.Ensure.Models.DataObjects.Position

@using Kendo.Mvc.UI;

<h2>Admin Dashboard</h2>

<div>

    @if (Request.IsAuthenticated)
    {
        @(Html.Kendo().Grid<Silicus.Ensure.Models.DataObjects.Position>().Name("positionGrids")
            .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model =>
                    {
                        model.Id(p => p.PositionId);
                        model.Field(p => p.PositionId).Editable(false);

                    })
                     .Read(read => read.Action("GetPositionDetails", "Admin"))
                     .Create(update => update.Action("PositionSave", "Admin"))
                     .Update(update => update.Action("PositionSave", "Admin"))            
                )
                .Columns(columns =>
                {
                    columns.Bound(p => p.PositionName).Width(50);
                    
                    columns.Command(command => { command.Edit(); }).Width(160);
                })
                .Pageable()
                .Sortable()
                .ToolBar(toolbar => toolbar.Create())
                .Editable(ed => ed.Mode(GridEditMode.InLine))
        )
    }
</div>
