@model int
@using Silicus.Ensure.Models.Constants;
@using Kendo.Mvc.UI;
@using System.Linq
@{
    ViewBag.Title = "Review Assiged Test";
}

<script>
    $(document).ready(function () {
        if ('@Model' == '1') {
            $("#empsubmenu").css("display", "block");
            $("#employee-link a span.arrow").addClass("open");
            SelectedMenu('#employee-reviewTest');
        }
        else {
            $("#candidate-submenu").css("display", "block");
            $("#candidate-link a span.arrow").addClass("open");
            SelectedMenu('#candidate-reviewTest');
        }
        SetNavigationMenuActive('ReviewAssignedTest');        
    });

    function GeneratePDF(EmployeeTestSuiteId) {

        window.open('/Admin/CreatePDF?id=' + EmployeeTestSuiteId);
    }

    function StartEvaluationofTest(EmployeeTestSuiteId) {

        window.location.href = "/Admin/SubmittedTest?EmployeeTestSuitId=" + EmployeeTestSuiteId;
    }

</script>

<h1 class="page-title">Review Tests</h1>

<div class="table-responsive M-B15">


    @(Html.Kendo().Grid<Silicus.Ensure.Web.Models.Employee.EmployeeTestResultViewModel>().Name("EmployeeTestSuitGrid")

         .Columns(columns =>
         {
             columns.Bound(p => p.TestSuitName).Title("Test Suit Name").Width(200);
             columns.Bound(p => p.EmpName).Title(Model == 2 ? "Candidate Name" : "Employee Name");
             columns.Bound(p => p.MaxScore).Title("Total Marks");//.ClientTemplate(@"#=Duration# Mins");
             //columns.Bound(p => p.PracticalCount).ClientTemplate(@"#=ObjectiveCount #+#PracticalCount #").Title("Total Questions").Width(130);
             columns.Bound(p => p.MarksObtained).ClientTemplate(@"#=MarksObtained > 0 && StatusId > 3 ? MarksObtained : 'NA'#");
             columns.Bound(p => p.AttemptDate).Format("{0:dd-MMM-yyyy hh:mm:ss tt}").Filterable(false);
             columns.Bound(p => p.StatusId).ClientTemplate(@"
                                                                        #if(StatusId==2){#
                                                                            Test assigned
                                                                        #}
                                                                        else if(StatusId==3) {#
                                                                            Test submitted
                                                                        #}
                                                                        else if(StatusId==4) {#
                                                                            Under evaluation
                                                                        #}
                                                                        else if(StatusId==5) {#
                                                                            Test Passed
                                                                        #}
                                                                        else if(StatusId==6) {#
                                                                            Test Failed
                                                                        #}
                                                                        else if(StatusId==7) {#
                                                                           On hold
                                                                        #}
                                                                        else{#
                                                                            #=StatusId#
                                                                        #}
                                                                        #").Title("Status").Width(250);
             columns.Bound(p => p.StatusId).ClientTemplate(@"
                                                                        #if(StatusId==3){#
                                                                            <a onclick='StartEvaluationofTest(#=EmployeeTestSuiteId#)'>Start Evaluation</a>
                                                                                /
                                                                            <a onclick='GeneratePDF(#=EmployeeTestSuiteId#)'>View QuestionSet(PDF)</a>
                                                                        #}
                                                                        else{#
                                                                            <a onclick='StartEvaluationofTest(#=EmployeeTestSuiteId#)'>Review Evaluation</a>
                                                                          /
                                                                            <a onclick='GeneratePDF(#=EmployeeTestSuiteId#)'>View QuestionSet(PDF)</a>
                                                                        #}
                                                                        #").Title("Test Action").Width(300);
         })
                                       .DataSource(dataSource => dataSource
                                       .Ajax()
                                       .Model(model =>
                                       {
                                           model.Id(p => p.EmployeeTestSuiteId);
                                           model.Field(p => p.EmployeeId).Editable(false);
                                       })

                                       .Read(read => read.Action("GetTestSuitsforEvaluation", "Admin"))

                                       .PageSize(100)
                                       .ServerOperation(true)
                                       )
                                       .HtmlAttributes(new { style = "height: 70vh;" })
                                       .Pageable(p => p.PageSizes(false))
                                        .Scrollable(scrollable => scrollable.Virtual(true))
                                       .Sortable()
                                       .Resizable(resizing => resizing.Columns(true))
    )




</div>



