@*@model List<Silicus.Ensure.Web.Models.TestSuiteViewModel>*@
@using Kendo.Mvc.UI;


@{
    ViewBag.Title = "TestSuite List";

}
<div class="" id="editModal" margin-left 100px ! important; top 25px">
   
    @*<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Test-Suite List</h2>
                @if (Request.IsAuthenticated)
                {
                    @(Html.Kendo().Grid<Silicus.Ensure.Web.Models.TestSuiteViewModel>().Name("testSuiteGrids")
         .Columns(columns =>
              {
                  columns.Bound(p => p.TestSuiteId).ClientTemplate("<input type='checkbox' class='check' id='chkHeader' value='#=TestSuiteId#'/>").Title("");
                  columns.Bound(p => p.TestSuiteName).Width(100);
                  columns.Bound(p => p.Duration).Width(50);
                  columns.Bound(p => p.PositionName).Width(50);
                  columns.Bound(p => p.PrimaryTagNames).Width(200);
                  columns.Bound(p => p.userid).ClientTemplate("<input type='text' class='textu' id='txtUser' value='#=userid#'/>").Hidden();
                  //columns.Bound("").ClientTemplate("<a class='k-button k-button-icontext k-grid-add' href='\\#' data-toggle='modal' data-target='\\#myModal'><span class='k-icon k-add'></span>Activate Test Suite</a><a class='k-button k-button-icontext k-grid-add' href='" + Url.Action("TestSuiteCopy", "Admin") + "?testSuiteId=#=TestSuiteId#'><span class='k-icon k-add'></span>Copy</a><a class='k-button k-button-icontext k-grid-edit' href='" + Url.Action("TestSuiteAdd", "Admin") + "?testSuiteId=#=TestSuiteId#'><span class='k-icon k-edit'></span>Edit</a><a class='k-button k-button-icontext k-grid-delete' href='" + Url.Action("TestSuiteDelete", "Admin") + "?testSuiteId=#=TestSuiteId#'><span class='k-icon k-delete'></span>Delete</a>");
              })
        .DataSource(dataSource => dataSource
                  .Ajax()
                  .Model(model =>
                  {
                      model.Id(p => p.TestSuiteId);
                      model.Field(p => p.TestSuiteId).Editable(false);
                  })
                  .Read(read => read.Action("GetTestSuiteDetails", "Admin"))
                  .PageSize(10)
              )
              .Pageable()
              .Sortable()

                    )

                }

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ClosePopUp();" id="Savebtn">Save</button>
                </div>
            </div>
        </div>
    </div>*@
    <input type="hidden" value="@ViewBag.CurrentUser" id="CurrentUser" />


</div>


