@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Online Test";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}

<div class="main-content" id="main">
    <div class="fluid mt20">
       
        
    </div>
</div>
<script>
</script>
