@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Online Test";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}

<div class="main-content" id="main">
    <div class="fluid mt20">

        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <strong>This test is window protected, please do not move away from the window or refresh.</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:black;">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" for="obj"><strong>No. of Objective Question:</strong></label>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="obj">20</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" for="prac"><strong>No. of Practical Question:</strong></label>
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="prac">5</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" for="total"><strong>Total Question:</strong></label>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="total">25</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" for="duration"><strong>Total Duration (Mins):</strong></label>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="duration">60</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9">
                        <div id="counter"></div>
                    </div>
                    <div class="col-md-3">
                        @(Html.Kendo().Button()
                        .Name("btnAddMoreTime").Events(e => e.Click("AddMoreTime"))
                .HtmlAttributes(new { type = "button" }).Content("Add More Time").HtmlAttributes(new { style = "margin-top: 15%;" }))

                        @Html.Hidden("TimerIncCount", 0)
                    </div>
                </div>
                <div class="row">
                    <span>Test Progress</span>
                    <div class="progress">
                        <div id="progressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                             aria-valuemin="0" aria-valuemax="100" style="width:50%">
                            <span id="progressInfo">50%</span> Complete
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:black;">
            </div>
        </div>

        <div id="QuestionDetails">

        </div>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="msgMain">Success!</span></h4>
            </div>
            <div class="modal-body">
                <p id="msgContent">Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button id="btnModalOK" type="button" class="btn btn-default" data-dismiss="modal" onclick="OnOK();">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<script>
    var clock;
    var totalTime;
    var testTime;
    $(document).ready(function () {

        // Load First Question On page Load.
        $('#QuestionDetails').load('/Candidate/LoadQuestion?Id=' + 1);

        // Timer
        clock = $('#counter').FlipClock({
            clockFace: 'HourlyCounter',
            autoStart: false,
            callbacks: {
                stop: function () {

                },
                interval: ProgressBar
            }
        });

        // Initialize progress bar.
        totalTime = 1800;
        $('#progressBar').attr('aria-valuemax', totalTime).css('width', '0%');
        $('#progressInfo').text('0%');

        // Set counter time and start.
        clock.setTime(1800);
        clock.setCountdown(true);
        clock.start();
    });

    function AddMoreTime() {
        $("#myModal").modal();
        $("#msgMain").text("Warning!");
        var TimerCnt = $("#TimerIncCount").val();
        if (TimerCnt == 0) {
            $("#msgContent").text("You have only 2 chances. Are you sure, you want to increase time limit by 10 Mins?");
        } else {
            $("#msgContent").text("This is the last chance. Are you sure, you want to increase time limit by 10 Mins?");
        }
    }

    function OnOK() {
        var TimerCnt = $("#TimerIncCount").val();
        $.ajax({
            url: '/Candidate/AddMoreTime',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ count: TimerCnt }),
            success: function (data) {
                if (data < 3) {
                    // Add time in counter
                    var newtm = parseInt(clock.getTime()) + parseInt(60 * 10);
                    clock.setTime(newtm);

                    // Assign reduced chance
                    $("#TimerIncCount").val(data);

                    // Update Progress bar
                    totalTime = parseInt(totalTime) + parseInt(60 * 10);
                    var leftTm = parseInt(totalTime) - clock.getTime();
                    var newprogress = parseInt((parseInt(leftTm) / parseInt(totalTime)) * 100);
                    $('#progressBar').attr('aria-valuemax', totalTime).css('width', newprogress + "%");
                    $('#progressBar').attr('aria-valuenow', clock.getTime()).css('width', newprogress + "%");
                    $('#progressInfo').text(newprogress + "%");

                    // Hide Add more time button.
                    if (data == 2) {
                        $("#btnAddMoreTime").hide();
                    }

                }
            },
            error: function (xhr) {

            }
        });
    }

    function ProgressBar() {
        var time = clock.getTime().time;
        if (time % 60 == 0) {
            var leftTm = parseInt(totalTime) - clock.getTime();
            var newprogress = parseInt((parseInt(leftTm) / parseInt(totalTime)) * 100);
            $('#progressBar').attr('aria-valuenow', clock.getTime()).css('width', newprogress + "%");
            $('#progressInfo').text(newprogress + "%");
        }
    }

    function OnNext() {
        var checkedradio = $('[name="optradio"]:radio:checked').val();
        var questionNumber = $("#QuestionNumber").val();
        $('#QuestionDetails').load('/Candidate/OnNextPrevious?Qnumber=' + questionNumber + '&Move=N');
        return false;
    }

    function OnPrevious() {
        var questionNumber = $("#QuestionNumber").val();
        $('#QuestionDetails').load('/Candidate/OnNextPrevious?Qnumber=' + questionNumber + '&Move=P');
        return false;
    }
</script>
