@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}

<div class="main-content" id="main">
    <div class="fluid mt20">
        <div class="row">
            <div class="col-md-12" style="height:450px;">
                <span>Hello <strong>Lorem Lipsum</strong></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="float:right;">
                @(Html.Kendo().Button()
                .Name("btnStart").Icon("tick")
                .HtmlAttributes(new { type = "button"}).Events(e=>e.Click("OnClick"))
                        .Content("Start Test").HtmlAttributes(new { style = "float: right;" }))
            </div>
        </div>

    </div>
</div>

<script>
    function OnClick()
    {
        window.location.href = "/Candidate/OnlineTest";
    }
</script>

