<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EnCourageEntities" connectionString="metadata=res://*/Encourage.csdl|res://*/Encourage.ssdl|res://*/Encourage.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=EnCourage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EnCourageEntities1" connectionString="metadata=res://*/EnCourage.csdl|res://*/EnCourage.ssdl|res://*/EnCourage.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.4.1.190\SQLExpress1;initial catalog=EnCourage;persist security info=True;user id=SilUtilSqlUser;password=Pa55w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>