<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EnCourageEntities" connectionString="metadata=res://*/EnCourage.csdl|res://*/EnCourage.ssdl|res://*/EnCourage.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.4.1.190\SQLExpress1;initial catalog=EnCourage;user id=SilUtilSqlUser;password=Pa55w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>