@model Silicus.EncourageWithAzureAd.Web.Models.ConsolidatedNominationsViewModel
@{
    ViewBag.Title = "Consolidated Nominations";
}
<style>
    .table {
        margin-bottom: 0px!important;
    }
    #consolidatedHrView table {
        margin-bottom: 0px!important;
    }
    .notNominated{
    background-color:#f5f5f5;
}
    #dvConsolidatedNominations{
        border-top:1px solid #e7eaec;
    }
    #consolidatedHrView td,th {
        border: 1px solid #e7eaec;
        color: black;
    } 
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        border: 1px solid #e7eaec;
    } 
    .tblBorder{border: 1px solid #e7eaec;}
</style>
@using (Ajax.BeginForm("ConsolidatedNominations", "Review",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "dvConsolidatedNominations",
                    OnBegin = "ShowCustomLoader()",
                    OnComplete = "HideCustomLoader()"
                },
                new { id = "nominationsFilterForm" }
                ))
{

    <div class="row white-bg header-row">
        <nav class="" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            </div>
        </nav>
        <div class="col-lg-11 col-md-11 col-sm-11">
            <h1 class="header-name">Consolidated Nominations</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box M-T15">
                <div class="pull-right">
                    <ul style="margin-top:0px;">
                        <li>
                            @Html.DropDownListFor(b => b.AwardId, Model.ListOfAwards, new { @class = "form-control filterChanged" })
                        </li>
                        <li>
                            @Html.DropDownListFor(a => a.AwardMonth, Enumerable.Range(1, 12).
                                Select(i => new SelectListItem
                                {
                                    Value = i.ToString(),
                                    Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i)
                                })
                                , new { @class = "form-group form-control filterChanged" })
                        </li>
                        <li>
                            @Html.DropDownListFor(a => a.AwardYear,
                                Enumerable.Range(2010, (DateTime.Now.Year + 1) - 2010).
                                    Select(i => new SelectListItem
                                    {
                                        Value = i.ToString(),
                                        Text = i.ToString()
                                    }),
                                new { @class = "form-group form-control filterChanged" })
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}
@using (Ajax.BeginForm("SaveFinalScore", "Review",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnBegin = "ShowCustomLoader()",
                    OnComplete = "HideCustomLoader()",
                    OnSuccess = "FinalScoreSave",
                    OnFailure = "FinalScoreFailure"
                },
                new { id = "frmSaveFinalScore" }
                ))
{

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box">
                <div class="" id="dvConsolidatedNominations">
                    @Html.Partial("_ConsolidatedNominationsPartialView", Model)
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box M-B60">

                <input type="submit" name="submit" value="Submit" id="submitButton" class="btn btn-primary pull-right" />
                <div class="clearfix"></div>
            </div>

        </div>
    </div>


}

<div class="modal fade" id="hrCommentModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <form id="frmHrComments">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">HR Comments</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txtHrPoints" class="form-control-label">Points:<span class="asterisk">*</span></label>
                        <input type="number" class="form-control" min="0.0" max="5.0" name="txtHrPoints" id="txtHrPoints" required />
                    </div>
                    <div class="form-group">
                        <label for="txtHrComment" class="form-control-label">Comments:<span class="asterisk">*</span></label>
                        <textarea class="form-control" id="txtHrComment" name="txtHrComment" required></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="saveHrCommentsPoints()" id="btnSubmitHrComments" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/dataTables.fixedColumns.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#consolidatedHrView').DataTable({
            scrollY: "400px",
            scrollX: true,
            ordering: false,
            scrollCollapse: true,
            paging: false,
            searching: false,
            fixedColumns: {
                leftColumns: 3
            }
        });
    });
    function RecalculateFinalScore(nominationId) {
        var points = 0.0;
        var count = 0;
        $(".finalScore_" + nominationId).each(function () {
            if ($(this).val().trim()) {
                var currentPoints = parseFloat($(this).val());
                if (currentPoints != 0) {
                    points = points + currentPoints;
                    count++;
                }
            } else {
                $(this).val("0.00");
            }
        });

        $(".finalAverageScore_" + nominationId).text((points / count).toFixed(2));
    }

    $(".filterChanged").change(function () {
        $("#nominationsFilterForm").submit();
    });
    var criteriaId;
    var nominationId;
    var finalScrore;
    var adminComment;
    var g_criteriaIndex;
    var g_nominationIndex;
    function openCommentPointEditor(nominationIndex, criteriaIndex) {
        g_nominationIndex = nominationIndex;
        g_criteriaIndex = criteriaIndex;
        criteriaId = $("input[name='Nominations[" + nominationIndex + "].ManagerComments[" + criteriaIndex + "].CriteriaId']").val();
        nominationId = $("input[name='Nominations[" + nominationIndex + "].ManagerComments[" + criteriaIndex + "].NominationId']").val();
        finalScrore = $("input[name='Nominations[" + nominationIndex + "].ManagerComments[" + criteriaIndex + "].FinalScore']").val();
        adminComment = $("input[name='Nominations[" + nominationIndex + "].ManagerComments[" + criteriaIndex + "].AdminComment']").val();
        //console.log(nominationIndex + ", " + criteriaIndex + ", " + criteriaId + ", " + nominationId + ", " + finalScrore + ", " + adminComment);
        $("#txtHrPoints").val(finalScrore);
        $("#txtHrComment").val(adminComment);
        $('#hrCommentModal').modal('show');
    }

    function saveHrCommentsPoints() {
        $("#frmHrComments").validate({
            rules: {
                "txtHrPoints": {
                    required: true,
                    number: true
                },
                "txtHrComment": {
                    required: true,
                    minlength: 5
                }
            }
        });
        if ($("#frmHrComments").valid()) {
            //console.log("save hr comm");
            var hrPoints = $("#txtHrPoints").val();
            var hrComment = $("#txtHrComment").val();
            $("#spnFinalPoints_" + nominationId + "_" + criteriaId).text(hrPoints);
            //console.log(hrPoints + ", " + hrComment);
            $("input[name='Nominations[" + g_nominationIndex + "].ManagerComments[" + g_criteriaIndex + "].FinalScore']").val(hrPoints);
            $("input[name='Nominations[" + g_nominationIndex + "].ManagerComments[" + g_criteriaIndex + "].AdminComment']").val(hrComment);

            RecalculateFinalScore(nominationId);
            $("#frmHrComments")[0].reset();
            $('#hrCommentModal').modal('hide');

            criteriaId = null;
            nominationId = null;
            finalScrore = null;
            adminComment = null;
            g_criteriaIndex = null;
            g_nominationIndex = null;
        }
    }

    function FinalScoreSave(data) {
        //console.log(data);
        if (data) {
            swal("Final scores updated successfully.");
        }
    }

    function FinalScoreFailure() {

    }
</script>
