<!DOCTYPE html>
<!-- Spell Checked and Validated 02/14-->
<html>

<head>

    <style>
        


    </style>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SILICUS</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />


    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />

    <link href="~/LESS/style.css" rel="stylesheet" />


    <!-- FooTable -->
    <link href="~/css/plugins/footable/footable.core.css" rel="stylesheet" />
   
</head>

<body class="pace-done">

    <div id="wrapper">
        <div class="row border-bottom">
            <nav class="navbar  " role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
            </nav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading border-bottom">
            <div class="col-sm-12">
                <h1>Dashboard</h1>
                <ol class="breadcrumb">
                    <li>
                        <strong> Home</strong>
                    </li>
                </ol>

            </div>
        </div>


        <!-- begin content -->

        <div class="wrapper wrapper-content animated fadeInRight">

           @{
             var roles =  HttpContext.Current.Session["Role"] as List<string> ;
           }
            <!-- IT STAFF ROW -->
            <div class="row">
                @if ( roles.Contains("Manager"))
                {
                
                <div class="col-md-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class="ibox-footer text-left">
                            <a href="@Url.Action("AddNomination", "Nomination")" class="btn btn-primary btn-sm">
                                <span style="font-weight:bold">  Nominate </span> <span><i class="fa fa-arrow-circle-o-right fa-2x" aria-hidden="true"></i></span>
                            </a>
                        </div>
                    </div>

                </div>
                }
                @if (roles.Contains("Reviewer"))
                {
                    
                
                <div class="col-md-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <i class="fa fa-search fa-5x" aria-hidden="true"></i>
                        </div>

                        <div class="ibox-footer text-left">
                            <a href="@Url.Action("","")" class="btn btn-primary btn-sm">
                                <span style="font-weight:bold">Review </span> <span><i class="fa fa-arrow-circle-o-right fa-2x" aria-hidden="true"></i></span>
                            </a>
                        </div>
                    </div>

                </div>
                    
                }
                @if (roles.Contains("Admin"))
                {
                    <div class="col-md-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <i class="fa fa-lock fa-5x" aria-hidden="true"></i>
                            </div>

                            <div class="ibox-footer text-left">
                                <a href="@Url.Action("","")" class="btn btn-primary btn-sm" id="lockNominations">
                                    <span style="font-weight:bold">Lock Nominations</span> <span><i class="fa fa-arrow-circle-o-right fa-2x" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <i class="fa fa-unlock-alt fa-5x" aria-hidden="true"></i>
                            </div>

                            <div class="ibox-footer text-left">
                                <a href="@Url.Action("","")" class="btn btn-primary btn-sm" id="unLockNominations">
                                    <span style="font-weight:bold">Unlock Nominations</span> <span><i class="fa fa-arrow-circle-o-right fa-2x" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>

                    </div>
                }


            </div>
            <div style="position:relative">
                <div id="b" style="position:absolute;">B</div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div>
                        Recent Feeds
                    </div>
                   
                    <div id="recentFeeds1" style=" position:absolute;">
                        Hey I'm moving first!!

                    </div>
                    <div id="recentFeeds2" style="position:absolute;">
                        Hey I'm moving second!!

                    </div>
                    <div id="recentFeeds3" style="position:absolute;">
                        Hey I'm moving 3rd!!

                    </div>
                    <div id="recentFeeds4" style="position:absolute;">
                        Hey I'm moving 4th!!

                    </div>

                </div>
            </div>

        </div><!-- ./ wrapper -->

    </div>


    <!-- Mainly scripts -->
    <script src="~/js/jquery-2.1.1.js"></script>

    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>

    <!-- FooTable -->
    <script src="~/js/plugins/footable/footable.all.min.js"></script>



</body>

</html>

<script>

    $("#lockNominations").click(function (e) {
        debugger;
        e.preventDefault();
        $("#lockNominations").addClass('disabled');
        $("#unLockNominations").removeClass('disabled')
    })
    $("#unLockNominations").click(function (e) {
        e.preventDefault();
        $("#unLockNominations").addClass('disabled');
        $("#lockNominations").removeClass('disabled');
    })


    $(document).ready(function () {
     
        $("#recentFeeds1").animate({ right: "+=1100" }, 8000).delay(1000);
        $("#recentFeeds2").animate({ right: "+=1000" }, 14000).delay(1500);
        $("#recentFeeds3").animate({ right: "+=900" }, 20000).delay(2000);
        $("#recentFeeds4").animate({ right: "+=800" }, 26000).delay(2500);
      
      
    });
    $(".fa-bars").click(function () {
        debugger;
        var x = document.getElementById("side-menu");
        if (x.style.display == "block") {
            // $("#side-menu style").remove();
            x.style.backgroundColor = "red";
           
        }
        else
        {
            x.style.display = "block";
        }
          

        

       // $("#side-menu").toggle().css("display", "hidden");
    })


</script>
