<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>
  <connectionStrings>
   
    <!--<add name="ProjectTrackerIpDataContext" connectionString="Data Source=.\SQLExpress;Initial Catalog=ProjectTrackerDB;Integrated Security=false;User Id=RDBI_IP_App_User;Password=Rdbi.123" providerName="System.Data.SqlClient" />
    <add name="ProjectTrackerLoggerDataContext" connectionString="Data Source=.\SQLExpress;Initial Catalog=ProjectTracker_Logger;Integrated Security=false;User Id=RDBI_IP_App_User;Password=Rdbi.123" providerName="System.Data.SqlClient" />
    <add name="ProjectTrackerAuditingDataContext" connectionString="Data Source=.\SQLExpress;Initial Catalog=ProjectTracker_Auditing;Integrated Security=false;User Id=RDBI_IP_App_User;Password=Rdbi.123" providerName="System.Data.SqlClient" />-->

    <add name="ProjectTrackerIpDataContext" connectionString="Data Source=.\SQLExpress;Initial Catalog=ProjectTrackerDB;Integrated Security=false;User Id=sa;Password=Pa55w0rd" providerName="System.Data.SqlClient" />
    <add name="ProjectTrackerLoggerDataContext" connectionString="Data Source=.\SQLExpress;Initial Catalog=ProjectTracker_Logger;Integrated Security=false;User Id=sa;Password=Pa55w0rd" providerName="System.Data.SqlClient" />
    <add name="ProjectTrackerAuditingDataContext" connectionString="Data Source=.\SQLExpress;Initial Catalog=ProjectTracker_Auditing;Integrated Security=false;User Id=sa;Password=Pa55w0rd" providerName="System.Data.SqlClient" />
    
 </connectionStrings>

  <appSettings>
   <add key="DatabaseInitializerForType Silicus.ProjectTracker.Entities.ProjectTrackerIpDataContext, Silicus.ProjectTracker.Entities" value="Silicus.ProjectTracker.Entities.Initializer.SilicusIpDropCreateDatabaseIfModelChangesInitializer, Silicus.ProjectTracker.Entities" />  
   <add key="DBName" value="ProjectTrackerDB" />
    <add key="CookieExpirationTime" value="30" />
    <add key="DBUser_UserName" value="sa" />
    <add key="DBUser_Password" value="Pa55w0rd" />
    <add key="MaxEntityCount" value="5000" />
    <add key="MaxEntityCountforStandardGrid" value="500" />
    <add key="MaxEntityCountforExtendedExport" value="50000" />
    <add key="MaxEntityCountforVINExport" value="70000" />
		<add key="ExportPath" value="~/App_Data/" />
    <add key="DataSourceName" value="RigDigv2_Int" />
		<add key="LogLevel" value="Verbose" />
		<add key="ExportError" value="Your search results exceed the units download limit (70K) and prospects download limit (50K)" />
		<add key="VINExportError" value="Equipment List download is not available as your search results exceed the units download limit (70K)" />
		<add key="DriverExportError" value="Your search results exceed the prospects download limit (50K)" />
    <add key="SmtpMailFromAddress" value="support@edadata.com" />
    <add key="SmtpMailSubjectForgotPassword" value="Password Reset" />
    <add key="SmtpMailSubjectWelcome" value="Welcome" />
    <add key="SmtpMailbaseUrl" value="http://localhost:61135" />
    <add key="SmtpMailSupportAddress" value="rfp@silicus.com" />
    <add key="SmtpMailInfoAddress" value="rfp@silicus.com" />
    <add key="ContactPhone" value="+1 (866) 912-8855" />
    <add key="ContactPhone_DotFormat" value="866.237.7788" />
    <add key="ExportUrlServerAddress" value="http://localhost:61135/ExportReport/LoadReport?" />
    <add key="ExportDriverUrlServerAddress" value="http://localhost:61135/ExportDriverReport/LoadDriverReport?" />
    <add key="PossibleCodeChars" value="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz#$^*()" />
    <add key="ProductName" value="Silicus" />
    <add key="ProductNameLong" value="SilicusTechnologies" />
    <add key="ProductNameShort" value="Silicus" />
    <add key="ExportLinkExpireInDays" value="30" />
    <add key="WebsiteURL" value="http://www.silicus.com/" />
    <add key="encryption_salt" value="alxhgablefmsaumh" />
    <add key="encryption_key" value="jkneolvvzizzyzswyfouledchdeoomey" />
    <!-- Following values indicated latest UI versions -->
    <add key="BootstrapVersion" value="3.3.1" />
    <add key="KendoVersion" value="2014.1.416" />
    <add key="KnockoutVersion" value="3.2.0" />
    <add key="JQueryVersion" value="1.11.2" />
    <!-- Following value is in minutes -->
    <add key="SisenseRequestTimeOut" value="2" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SprintCounts" value="10" />
    <add key="MileStoneCounts" value="10" />
    <add key="YearCountsForPastYear" value="1" />
    <add key="YearCountsForFutureYear" value="2" />
    <add key="PastWeekEntryInMonths" value="0" />
    <add key="FutureWeekEntryInWeeks" value="0" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="ADDefaultUserEmail" value="testuser2@silicus.com" />
    <add key="ADDefaultUserPassword" value="Pa55w0rd" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="sulekha.roy@silicus.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="testuserforemailtesting@gmail.com" password="Abc.1234" />
		    <!--<network host="64.79.241.100" port="25" userName="" password="" />-->
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
       <!--Log out time 10 hours--> 
      <!--<forms loginUrl="/Account/Login" timeout="36000000" slidingExpiration="true"/>-->
      <forms loginUrl="/Account/Login" protection="All" timeout="36000000" name=".USERLOGINCONTROLAUTH" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
     </authentication>
    <authorization>
      <allow users="*" />
    </authorization>

    <identity impersonate="true" />
     <!--<sessionState timeout="60" />-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <!--Write the MIME TYPE HERE-->
    <staticContent>
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
    </handlers>
    <modules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
  </glimpse>
</configuration>