@*@model Models.Employment

@using (Html.BeginForm("AddNumberOfEmployments", "Employement", FormMethod.Post, new { id = "frmNumberOfEmployments" }))
{

    <div class="form-group">
        @Html.LabelFor(m => m.NumberOfEmployments)

        <div class="form-inline">
            @Html.TextBoxFor(m => m.NumberOfEmployments, new { id = "txtNumberOfEmployments", placeholder = "Number of Employments, Including Current", @class = "form-control alphanumeric", maxlength = "2", tabindex = 1, @style = "min-width:293px !important" })
            <label class="glyphicon glyphicon-info-sign" style="width:25px;" data-toggle="tooltip" data-placement="right" title="If you are a fresher then put value 0, otherwise put number of previous employments including current employment and count should not exceed 20."></label>
            @Html.ValidationMessageFor(model => model.NumberOfEmployments, "", new { @class = "text-danger", id = "valNumberOfEmployments" })
        </div>
        <div class="row btnRow">
            <div class="row">
                <div class="col-md-12">
                    <span class="pull-right userNote"> <i class="fa fa-certificate"></i> Request to <a href="#" onclick="OpenChangeRequestForm()" tabindex="12">Edit</a>  information! </span>
                </div>
            </div>
        </div>
    </div>

}*@



@*<script type="text/javascript">
    $(document).ready(function () {
        $("#txtNumberOfEmployments").prop("disabled", true);
      
    });

    //Function on success of change request form
    function OnSuccessForm(data) {
        if (data.result == true) {
            $('#changeRequestModal').modal('hide');
            toastr.success(data.Message);
        }
        else {
            toastr.error(data.Message);
        }
    }

    //Function on success of change request form
    function OnFailureForm(data) {

        $('#changeRequestModal').modal('hide');

        toastr.error("Error occurred  while saving your request.");
    }

    function CheckNumberOfEmployments() {
        var caption = $("#addNumberOfEmployments").text();
        if (caption == "Edit") {
            event.preventDefault();
            $("#txtNumberOfEmployments").prop("disabled", false);
            $("#addNumberOfEmployments").text("Add");
            return false;
        }
        else {
            $("#frmNumberOfEmployments").submit();
        }
    }

    $("#editNumberOfEmploymentsLink").click(function () {
        $("#addNumberOfEmployments").show();
        $("#txtNumberOfEmployments").prop("disabled", false);
        $("#addNumberOfEmployments").text("Update");
        $("#editNumberOfEmploymentsLink").hide();
        $("#cancelEditNumberOfEmploymentsLink").removeClass("hide");
        $("#cancelEditNumberOfEmploymentsLink").show();
    });

    $("#cancelEditNumberOfEmploymentsLink").click(function () {
        $("#editNumberOfEmploymentsLink").show();
        $("#addNumberOfEmployments").hide();
        $("#cancelEditNumberOfEmploymentsLink").hide();
        $("#txtNumberOfEmployments").prop("disabled", true);
        $("#txtNumberOfEmployments").val(@ViewBag.NumberOfEmployments);
    });

</script>*@
