@model Silicus.EncourageWithAzureAd.Web.Models.EmailTemplateViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row white-bg header-row">
    <nav class="" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
    </nav>
    <div class="col-lg-10 col-md-10 col-sm-10">
        <h1 class="header-name">Email Template</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box M-T15 M-B60">
            <div class="f1">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-4">
                            @Html.DropDownList("Process", new SelectList(Model.ProcessesViewModel, "Id", "Name"), "Select", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="templateEditorContainer" class="col-sm-12">
                        @Html.Partial("~/Views/Email/Shared/_emailTemplateEditor.cshtml", Model.EmailTemplateEditor)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var _urlGetEmailTemplate = '@Url.Action("GetEmailTemplate", "Email")';
    $("#Process").on("change", function () {
        var selectedProcess = this.value;
        if (selectedProcess != "") {
            var selectedProcessName = this.selectedOptions[0].innerText;
            showCustomLoader();

            $.ajax({
                type: "GET",
                url: _urlGetEmailTemplate,
                data: { "processName": selectedProcessName },
                success: function (template) {
                    hideCustomLoader();
                    $("#templateEditorContainer").html(template);
                    $("#sendMailButton").removeAttr("disabled", "disabled");
                },
                error: function (error) {
                    hideCustomLoader();
                    console.log(error);
                }
            });
        } else {
            $("#templateEditorContainer").html("Please Select a Template!");
            $("#sendMailButton").attr("disabled", "disabled");
        }
    });
</script>