@model Silicus.EncourageWithAzureAd.Web.Models.EmailTemplateViewModel
@{
    ViewBag.Title = "Index";
}

<div class="white-bg header-row">
    <div class="col-lg-11 col-md-11 col-sm-11">
        <h1 class="header-name">Email Template</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @Html.DropDownList("Process", new SelectList(Model.ProcessesViewModel, "Id", "Name"), "Select", new { @class = "form-control" })
    </div>
    <div id="templateEditorContainer" class="col-sm-12">
        @Html.Partial("~/Views/Email/Shared/_emailTemplateEditor.cshtml",Model.EmailTemplateEditor)
    </div>
</div>

<link href="~/Css/select2.css" rel="stylesheet" />
<script src="~/js/select2.min.js"></script>

<link href="~/Css/jquery-te-1.4.0.css" rel="stylesheet" />
<script src="~/js/jquery-te-1.4.0.min.js"></script>

<script>
    $("#Process").on("change", function () {
        var selectedProcess = this.value;
        if (selectedProcess != "") {
            var selectedProcessName = this.selectedOptions[0].innerText;
        }
    });
</script>