@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Candidate Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-content">
    <div class="fluid mt20">
        <div class="row">
            <div class="col-md-12">
                @(Html.Kendo().Slider()
                .Name("slider")
                .Events(e => e
                .Change("change")
                .Slide("slide")))
            </div>
        </div>
    </div>
</div>

<script>
    function change() {
        //Handle the change event.
    }

    function slide() {
        //Handle the slide event.
    }
</script>