<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SisenseUrl" value="http://54.84.110.164/" />
    <add key="SisenseUserName" value="admin" />
    <add key="SisensePassword" value="beta$1" />
    <add key="DataSourceName" value="RigDigv2_Int"/>
  </appSettings>
</configuration>