/*Common classes*/
.M-B0{margin-bottom:0px;}
.M-T2{margin-top:2px!important;}
.M-T3{margin-top:3px!important;}
.M-T4{margin-top:4px!important;}
.M-T5{margin-top:5px;}
.M-T10{margin-top:10px;}
.M-T15{margin-top:15px;}
.M-T20{margin-top:20px;}
.M-T25{margin-top:25px;}
.M-T60{margin-top:60px;}
.M-T30{margin-top:30px;}
.M-T40{margin-top:40px;}
.M-T50 {margin-top: 50px;}
.M-B2{margin-bottom:2px!important;}
.M-B3{margin-bottom:3px!important;}
.M-B4{margin-bottom:4px!important;}
.M-B5{margin-bottom:5px;}
.M-B10{margin-bottom:10px!important;}
.M-B15{margin-bottom:15px!important;}
.M-B20{margin-bottom:20px!important;}
.M-B25{margin-bottom:25px!important;}
.M-L15{margin-left:15px;}
.M-R15{margin-right:15px;}
.M-B60{margin-bottom:60px!important;}
.M-B30{margin-bottom:30px!important;}


.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #36c6d3;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  top: 45%;
  position: relative;
  margin: 0 auto;
}

.loader-overlay {
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    z-index: 999999;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        transform: rotate(0deg);
}

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
}

    100% {
        transform: rotate(360deg);
    }
}

#header_notification_bar .slimScrollDiv{height:auto!important;}
.badge{background:#36c6d3;}
.logo-default{height: 25px;margin: 10px 0px 0px 0px!important;}
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all){padding:5px 5px 5px !important;font-size: 14px;font-weight: 500;text-transform: initial;}
#candidateSearch.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all){padding:8px 12px 7px !important;}
#PanelSearch.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all),#postionSearch.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all),#tagSearch.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all),#technologySearch.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all),#UserSearchRefresh.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all),#QuestionSearchRefresh.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all),#testSuiteSearch.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all){padding:8px 12px 6px!important}
.btn-nav{padding:10px 15px;}
.popUp-modalbody{padding:20px 30px 0px 30px;}
.popUp-footer{padding:0px 45px 15px 15px;}
.mail-content{padding: 10px;font-weight: 600;color: #777;font-size: 13px;border-bottom: 1px solid #EFF2F6!important;}
.mail-content:hover{background:#e9f6f7;}

/*kendo style override*/
.k-filtercell>span>.k-button, .k-filter-row .k-dropdown-operator{padding: 0 4px;}
.k-grid td{border-bottom: 1px solid #e7ecf1;}
/*.k-grid-header .k-header{
    padding: .8em .6em .8em .6em;
}*/
.k-pager-sizes{color:#333;}
#tagsGrids div.k-header.k-grid-toolbar.k-grid-top, #positionGrids div.k-header.k-grid-toolbar.k-grid-top, #PanelGrids div.k-header.k-grid-toolbar.k-grid-top, #technologiesGrid div.k-header.k-grid-toolbar.k-grid-top{background:#fafafa!important;}
#userGrids div.k-header.k-grid-toolbar.k-grid-top{background:#fafafa!important;}
span.k-icon.k-edit{display:none;}
/*span.k-icon.k-delete{display:none;}*/
span.k-icon.k-cancel{display:none;}
span.k-icon.k-save{display:none;}
span.k-icon.k-update{display:none;}
i.fa.fa-save{display:none;}


/* Kendo popup style */
#TagCustomControl span.tagAutoComplete{width:100%!important;}
#TagCustomControl span.k-dropdown{width:100%!important;}
.k-window-titlebar.k-header{
    margin-top: -32.92px;
    background: #fff;
    height: 35px;
    border-color: #EFEFEF;
}
.k-window-title{
    padding: 5px 0px 10px 8px;
}
/*End of popup style*/

/*Kendo icons sprite setting*/
.k-i-calendar:hover{background-image: url('http://kendo.cdn.telerik.com/2016.3.1118/styles/Material/sprite.png');background-position: -32px -176px;}
span.k-icon.k-i-close{background-image: url(http://kendo.cdn.telerik.com/2016.3.1118/styles/Material/sprite.png);border-color: transparent;background-position: -48px -16px;}

.k-widget.k-window span.k-icon.k-i-close{background-image: url(http://kendo.cdn.telerik.com/2016.3.1118/styles/Material/sprite.png);background-position: -32px -16px;}
.k-widget.k-window span.k-icon.k-i-close:hover{background-image: url(http://kendo.cdn.telerik.com/2016.3.1118/styles/Material/sprite.png);background-position: -48px -16px;}

.k-state-hover>*>.k-i-arrow-s{background-image: url(http://kendo.cdn.telerik.com/2016.3.1118/styles/Material/sprite.png);border-color: transparent;background-position: 0px -32px;}
.k-state-hover>*>.k-i-calendar{background-image: url(http://kendo.cdn.telerik.com/2016.3.1118/styles/Material/sprite.png);border-color: transparent;background-position: -32px -176px;}

.k-link:not(.k-state-disabled):hover>.k-i-arrow-e{background-image: url(http://kendo.cdn.telerik.com/2016.3.1118/styles/Material/sprite.png);border-color: transparent;background-position: 0px -16px;}
.k-link:not(.k-state-disabled):hover>.k-i-arrow-w{background-image: url(http://kendo.cdn.telerik.com/2016.3.1118/styles/Material/sprite.png);border-color: transparent;background-position: 0px -48px;}

.k-numerictextbox .k-state-hover .k-link span.k-i-arrow-n{background-image: url(http://kendo.cdn.telerik.com/2016.3.1118/styles/Material/sprite.png);border-color: transparent;background-position: 0px -3px;}
.k-numerictextbox .k-state-hover .k-link span.k-i-arrow-s{background-image: url(http://kendo.cdn.telerik.com/2016.3.1118/styles/Material/sprite.png);border-color: transparent;background-position: 0px -35px;}

/*End of sprite setting*/
#questionGrids.k-grid td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 275px;
}
.k-edit-form-container{width:auto;}
/*div.container-fluid.model-550{width: 645px;}*/
.k-widget.k-window{width: 645px;}
div.k-edit-buttons.k-state-default{
    background-color:#fff!important;
    border-color: #fff;
}


/*For all grid to be responsive*/
#UserGrids table, #userGrids table, #questionGrids table, #testSuiteGrids table, #tagsGrids table, #positionGrids table, #PanelGrids table, #technologiesGrid table{width:100%;overflow-x:auto;display: inherit;}


.modal-btn{
    background-color: rgb(53, 168, 179);
    color: rgb(255, 255, 255);
    width: 70px;
    border: 1px solid rgb(53, 168, 179);
}
.k-tabstrip>.k-content, .k-panelbar .k-tabstrip>.k-content{padding:0;}
a.dialog-window{text-decoration:underline;}
a.dialog-window:hover{text-decoration:none;color:#444;}
.addTag{float: left;margin-right: 15px;}
#tagsGrids .toolbar, #positionGrids .toolbar, #PanelGrids .toolbar, #technologiesGrid .toolbar{padding: 0px 10px 0px 10px;}


.candidateAnchor, .questionBankAnchor, .testsuitAnchor{margin-top:30px;margin-right: 15px;}
.candidateInputGroup, .questionBankInputGroup, .userMgmtInputGroup, .testsuitInputGroup{width:250px;float:right;margin-top: 30px;}
.searchInputGroup{width:250px;float:right;margin-top: 15px;}
.input-group-addon{
    background: #f1f4f7;
    color: #000;
}
.btn-search{
    border: 1px solid #ccc!important;
    border-radius: 0px 3px 3px 0px!important;
    height: 31px;
    box-shadow: none!important;
    color: #000;
    background: #f1f4f7;
    padding: 7px 14px 7px!important;
}
.addclearFloat{float:right;}
.clearFloat1{float:right;}

.profile-box{
    margin-right: 12px;width:200px;display: inline-block;vertical-align: top;
}
.info-box{
    width: calc(100% - 217px);
    /* Firefox */
width: -moz-calc(100% - 217px);
/* WebKit */
width: -webkit-calc(100% - 217px);
/* Opera */
width: -o-calc(100% - 217px);

    display: inline-block;
}

/*all media query start from here*/
@media (max-width:1755px) 
{
   #userGrids td a.k-button{margin-bottom:4px;}
   .k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button{min-width:50px;}
}

@media (min-width:1400px) 
{
   
}

@media (max-width:1399px) 
{
    
}

@media (max-width:1280px) 
{

}

@media (max-width:1199px) 
{
	
    .addclearFloat1{clear:both;}
}
@media (max-width:1082px) 
{
    .candidateInputGroup, .questionBankInputGroup, .userMgmtInputGroup, .testsuitInputGroup {width:200px;}
    
}
@media (max-width:991px) 
{


}
@media (max-width:800px) 
{

}
@media (max-width:768px) 
{
    
}
@media (max-width:767px) 
{   
   
}

@media (max-width:639px) 
{

}
@media (max-width:499px){
   
}
@media (max-width:484px){
   
}
@media (max-width:474px){
    
}
@media (max-width:435px){
    

}
@media (max-width:479px) 
{
	

}
@media (max-width:406px) 
{
    #tagSearch1{padding-top:10px;}

}
@media (max-width:410px) 
{


}
@media (max-width:399px) 
{
	
}
@media (max-width:360px) 
{
	
}